body         {color: #000000; background-color: #ffffff;}
a:link       {color: #000099; background-color: transparent; text-decoration: none;}
a:visited    {color: #990000; background-color: transparent; text-decoration: none;}
a:active     {color: #009900; background-color: transparent; text-decoration: none;}
a:hover      {color: #CC0000; background-color: transparent; text-decoration: underline;}

.commentform {text-align: center; color: #000000; font-size: medium; font-family: Arial;}
.commenttitle {color: #000000; font-size: x-large; font-family: Arial;}
.commentdesc {color: #ff0000; font-size: large; font-family: Arial;}

.outertable {border-color: #000000; border-width: thin; border-style: solid; text-align: left; margin-left: auto; margin-right: auto; background-color: #9999CC;}
.cytable {border-color: #000000; border-width: thin; border-style: solid; text-align: left; width: 800px; border-collapse: collapse; background-color: #FFFFFF;}
.enthead {border-color: #000000; border-width: thin; border-style: solid; text-align: left; font-weight: bold; height: 24px; width: 120px;}
.entval {border-color: #000000; border-width: thin; border-style: solid; text-align: left;}
.entpic {width: 400px; text-align: center; border-width: 1px;}

.ids {padding-left: 6px; padding-right: 6px;}
.idsh {background-color: #E0E0FF;}
.ids0 {background-color: #FFFFFF;}
.ids1 {background-color: #EFEFEF;}

.seriestable {width: auto; border-width: 5px; padding: 1px; margin: 3px; border-style: solid; border-width: 1px; margin-left: auto; margin-right: auto;}
.serieshead {vertical-align: top; text-align: center;}
.seriesempty {background-color: #D3D3D3; text-align: center;}
.seriescol00 {vertical-align: middle; text-align: center; height: 64px;}
.seriesent {vertical-align: middle; text-align: center; font-weight: bold; width: 60px; height: 75px; line-height: 14px; font-size: 14px;}
.seriescolAC {background-color: #CCFF99;}
.seriescolD3 {background-color: #CCFFFF;}
.seriescolDS {background-color: #FF99CC;}
.seriescolFA {background-color: #CCCCFF;}
.seriescolKO {background-color: #99CCFF;}
.seriescolKC {background-color: #FFFFCC;}
.seriescolKT {background-color: #FFCCCC;}
.seriescolLY {background-color: #CCFFCC;}
.seriescolMA {background-color: #FFCCFF;}
.seriescolMC {background-color: #FF99FF;}
.seriescolPC {background-color: #FFCC99;}
.seriescolPE {background-color: #99FFCC;}
.seriescolPL {background-color: #CC99FF;}
.seriescolSC {background-color: #FFFF99;}
.seriescolTC {background-color: #99FFFF;}

.cabhead {vertical-align: top; text-align: center; font-family: Arial; font-size: x-large;}
.cabname {vertical-align: middle; text-align: center; font-size: large;}
.cabcell {vertical-align: top; text-align: left;}

.cyyeartab {text-align: left; width: 800px; background-color: rgb(204, 204, 255); margin-left: auto; margin-right: auto; border-width: 5px; margin: auto; border-style: solid;}
.cyyeartab td {padding: 2px; margin: 2px; border-style: solid;}
.cyyear {text-align: center; font-family: Helvetica,Arial,sans-serif; color: #333399; font-size: x-large;}

.cyindex {text-align: center; font-family: Helvetica,Arial,sans-serif; font-size: large;}
.cyindex .ititle {font-size: xx-large;}
.cyindex .iwarn {color: #FF6666;}
.cyindex .iimportant {color: #0000CC; font-size: x-large;}
.cyindex .itable {border-width: 6px; width: 600px; margin-left: auto; margin-right: auto; border-style: ridge;}
.cyindex .itable td {padding: 2px; margin: 2px; border-style: inset; border-width: 1px;}
.cyindex .disclaim {font-family: Tahoma; font-size: medium;}
