.tdboth {border-style: solid; border-width: thin; padding-left: 4px; padding-right: 4px;}
.tdleft {border-style: solid; border-width: thin 0 thin thin; padding-left: 4px; padding-right: 4px;}
.tdmiddle {border-style: solid; border-width: thin 0 thin 0; padding-left: 4px; padding-right: 4px;}
.tdright {border-style: solid; border-width: thin thin thin 0; padding-left: 4px; padding-right: 4px;}

.spacer {height: 5px; border-width: 0 1px 0 1px; border-style: solid;}
.sel_head {border-width: 1px; border-style: solid;}
.sel_body {border-width: 1px; border-style: solid; padding: 8px;}
.input_label {text-align: right;}

.header-links {width: 90%; padding: 0 0 0 0; text-align: center; font-size: 0;}
.header-link-item {margin: 2px 4px; padding: 1px 2px 2px 2px; white-space: nowrap;
    font-weight: bold; font-size: 13px; background-color: #006600; color: #FFFFFF;
    display: inline-block; /* an inline element that has all the benifits of a block element without bieng full width */
    list-style-type: none; /* killing the bullet */
}

.header-link-item a:link       {color: #FFFFFF; background-color: #006600;}
.header-link-item a:visited    {color: #FFFFFF; background-color: #006600;}
.header-link-item a:active     {color: #FFFFFF; background-color: #006600;}
.header-link-item a:hover      {color: #006600; background-color: #FFFFFF; text-decoration: none;}

.id_head       {background-color: #C8C8C8;}
.id_body       {background-color: #EEEEEE;}
.year_head     {background-color: #FFFF5A;}
.year_body     {background-color: #FFFFCC;}
.rank_head     {background-color: #B0B0FF;}
.rank_body     {background-color: #E0E0FF;}
.manno_head    {background-color: #AAFFAA;}
.manno_body    {background-color: #E0FFE0;}
.mack_head     {background-color: #88FFFF;}
.mack_body     {background-color: #CCFFFF;}
.makes_head    {background-color: #FF88FF;}
.makes_body    {background-color: #FFCCFF;}
.search_head   {background-color: #FFAAAA;}
.search_body   {background-color: #FFE0E0;}
.vsearch_head  {background-color: #FFC888;}
.vsearch_body  {background-color: #FFEEDD;}
.packs_head    {background-color: #CCFF66;}
.packs_body    {background-color: #E0FFB0;}
.sets_head     {background-color: #CC88FF;}
.sets_body     {background-color: #EECCFF;}
