.tdboth {border-style: solid; border-width: thin; padding-left: 4px; padding-right: 4px;}
.tdleft {border-style: solid; border-width: thin 0 thin thin; padding-left: 4px; padding-right: 4px;}
.tdmiddle {border-style: solid; border-width: thin 0 thin 0; padding-left: 4px; padding-right: 4px;}
.tdright {border-style: solid; border-width: thin thin thin 0; padding-left: 4px; padding-right: 4px;}

.spacer {height: 5px; border-width: 0 1px 0 1px; border-style: solid;}
.sel_head {border-width: 1px; border-style: solid;}
.sel_body {border-width: 1px; border-style: solid; padding: 8px;}
.input_label {text-align: right;}

.id_head       {background-color: #BBBBBB;}
.id_body       {background-color: #EEEEEE;}
.year_head     {background-color: #FFFF66;}
.year_body     {background-color: #FFFFCC;}
.rank_head     {background-color: #BBBBFF;}
.rank_body     {background-color: #DDDDFF;}
.manno_head    {background-color: #AAFFAA;}
.manno_body    {background-color: #DDFFDD;}
.mack_head     {background-color: #AAFFFF;}
.mack_body     {background-color: #DDFFFF;}
.makes_head    {background-color: #FF99FF;}
.makes_body    {background-color: #FFCCFF;}
.search_head   {background-color: #FF9999;}
.search_body   {background-color: #FFDDDD;}
.vsearch_head  {background-color: #FFBB77;}
.vsearch_body  {background-color: #FFEEDD;}
.packs_head    {background-color: #BBCC99;}
.packs_body    {background-color: #EEFFCC;}
.sets_head     {background-color: #CC88FF;}
.sets_body     {background-color: #EECCFF;}
