body {background-color: #EEE;}
.tb {width: auto; background-color: #FFF;}
.eh_0 {padding-left: 3px; padding-right: 3px;}
.eb_0 {padding-left: 3px; padding-right: 3px;}
.eb_2 {background-color: #DDF;}
.eb_pk {background-color: #DDF;}
.id {background-color: #DDF;}
.eh_0 {background-color: #DFD;}
.eb_0 {background-color: #DFD;}
.hd {background-color: #DFD;}

.askt {list-style-type: none; border-width: 0px; padding: 0; margin: 0; display: table; width: 100%;}
.askc {width: 240px; height: 136px; border-style: solid; border-width: 1px; float: left; display: block; padding: 2px; margin: 1px;}

.glist img {max-width: 1024px;}

.filt {list-style-type: none; border-width: 0px; padding: 0; margin: 0; display: table; width: 100%;}
.filc {border-width: 0px; float: left; display: block; padding: 2px; margin: 1px;}
