.tb {width: auto;}
.eh_0 {padding-left: 3px; padding-right: 3px;}
.eb_0 {padding-left: 3px; padding-right: 3px;}
.eb_2 {background-color: #DDDDFF;}
.id {background-color: #DDDDFF;}
.eh_0 {background-color: #DDFFDD;}
.eb_0 {background-color: #DDFFDD;}
.hd {background-color: #DDFFDD;}

.askt {list-style-type: none; border-width: 0px; padding: 0; margin: 0; display: table; width: 100%;}
.askc {width: 240px; height: 136px; border-style: solid; border-width: 1px; float: left; display: block; padding: 2px; margin: 1px;}
