body {background-color: #D84905; background-image: url("/pic/bg/bg18.jpg");}

body         {color: #FFFFFF;}
a:link       {color: #FFFF00;}
a:visited    {color: #FFFF66;}
a:active     {color: #FFFF66;}
a:hover      {color: #FFFF00;}

ul {font-size: large;}
ul {margin: 4px 0 4px 0;}
h2 {padding: 0 0 0 0; margin: 0 0 0 0;}

.special {font-size: x-large;}
.special a {color: #FFFF00;}
.special td {border-width: 1px; border-style: solid; background-color: #000000;}

.database {border-width: 1px; border-style: solid; padding: 2px 8px 2px 8px; font-size: xx-large; background-color: #000000;}

.facebook {background-color: #3333FF; color: #FFFFFF; border-color: #FFFFFF;}
.facebook:link    {color: #FFFFFF; background-color: #3333FF; border-color: #FFFFFF;}
.facebook:visited {color: #FFFFFF; background-color: #3333FF; border-color: #FFFFFF;}
.facebook:active  {color: #FFFFFF; background-color: #3333FF; border-color: #FFFFFF;}
.facebook:hover   {color: #3333FF; background-color: #FFFFFF; border-color: #3333FF;}

.banner {background-color: #D7350C; color: #FFFFFF; vertical-align: center;
	border-collapse: collapse; border-color: #FFFFFF; border-width: 8px 0 8px 0; border-style: solid;}
.banner img {padding: 0; margin: 0;}

.index {background-color: #D84905;}
.index td {padding: 8px;}

.status {width: 100%; background-color: #DDDDFF; font-size: x-large; text-align: center;
	border-collapse: collapse; border-color: #000000; border-width: 1px; border-style: solid;}
.status a:link    {color: #000000;}
.status a:visited {color: #000000;}
.status a:active  {color: #000000;}
.status a:hover   {color: #000000;}

