body         {color: #000000; background-color: #FFFFFF; padding: 0; width: 1024px; font-family: 'Decalotype';}
.body        {width: 1024px;}
img          {vertical-align: middle; border-width: 0;}
.centered    {margin-left: auto; margin-right: auto; display: block;}
.center      {text-align: center;}

a:link       {color: #0000FF; text-decoration: none;}
a:visited    {color: #000099; text-decoration: none;}
a:active     {color: #009900; text-decoration: none;}
a:hover      {color: #000099; text-decoration: underline;}

.button      {vertical-align: middle; color: #FFFFFF; padding: 1px; border-width: 0px; cursor: pointer;}
.updown      {vertical-align: top; text-align: left; width: 160px; white-space: nowrap;}
.lefty       {float: left;}
.righty      {float: right;}
.section     {vertical-align: middle; color: #000000; background-color: #FFFFFF; border-color: #000000; font-size: x-large; padding: 4px; border-width: thin; border-style: solid; text-align: center;}
.subsection  {vertical-align: middle; border-color: #000000; font-size: large; border-width: thin; border-style: solid; text-align: center;}
.warning     {color: #FF0000; font-weight: bold;}
.spicture    {padding: 0; margin: 0; border-style: none;}
.hidden      {display: none;}
.shown       {display: inline;}
.noborder    {border-width: 0;}

.title       {background-color: #000066; height: 66px; margin: 3px 0 3px 0; display: table; width: 100%;
              color: #FFFFFF; font-weight: bold; font-size: xx-large; text-align: center; max-width: 1024px;}
.titletext   {display: table-cell; vertical-align: middle;}
.titletext a:link       {color: #FFFF00; text-decoration: none;}
.titletext a:visited    {color: #CCCC00; text-decoration: none;}
.titletext a:active     {color: #CC00CC; text-decoration: none;}
.titletext a:hover      {color: #CCCC00; text-decoration: underline;}
.titleimage  {margin-left: auto; margin-right: auto; display: block;}
.description {color: #000000; font-weight: bold; font-size: x-large; text-align: center;}
.note        {color: #000000;}
.titlenote   {font-size: small;}
.loginbar    {color: #000000; background-color: #FFFFFF; border-color: #000000; border-style: solid; border-width: thin;}
.hier        {width: 1014px; border-width: 1px; background-color: #CCCC99; border-style: solid; padding: 0 4px 0 4px; font-weight: bold;}
.fullpage    {width: 100%;}
.comment     {vertical-align: middle; color: #FFFFFF; border-width: 0px; padding: 1px;}
.comment_box {float: right; direction: rtl;}
.mblogo      {vertical-align: baseline;}

.modelname   {font-weight: bold; font-size: large; text-align: center;}
.newcasting  {padding-bottom: 16px; background-image: url("/pic/gfx/newcasting.gif"); background-position: center bottom; background-repeat:no-repeat;}
.revcasting  {padding-bottom: 16px; background-image: url("/pic/gfx/revcasting.gif"); background-position: center bottom; background-repeat:no-repeat;}

.tb          {background-color: #FFFFFF; padding: 0px; width: 100%;}
.sh          {background-color: #FFFFFF; color: #000000; font-size: xx-large; padding: 4px; text-align: center; vertical-align: middle;}
.rh          {background-color: #FFFFFF; color: #000000; font-size: x-large;}
.eh          {font-size: large; font-weight: bold; padding-left: 4px; padding-right: 4px; text-align: center; vertical-align: top;}
.eb          {font-size: medium; text-align: left; vertical-align: top;}

.tb          {border-collapse: collapse; border-color: #000000; border-spacing: 1px 0; border-style: solid; border-width: 1px;}
.sh          {border-color: #000000; border-style: solid; border-width: thin;}
.rh          {border-color: #000000; border-style: solid none solid none; border-width: 1px;}
.eh          {border-color: #000000; border-style: ridge; border-width: thin;}
.eb          {border-color: #000000; border-style: ridge; border-width: thin;}

foo.tb_tail     {background-color: #F8EC6D;}
.tb_tail     {border-color: #000000; width: 100%; border-width: 0; border-style: solid; border-collapse: collapse;}
.eb_tail     {vertical-align: top; color: #000000; border-color: #000000; font-size: medium; padding: 4px; border-width: thin; border-style: ridge; text-align: left;}
.eb_tail_1   {border-width: 0; border-style: solid; border-collapse: collapse; vertical-align: middle;}
.eb_tail_2   {border-width: 0; border-style: solid; border-collapse: collapse; text-align: left;}

.beta {width: 100%; background-image: url("/pic/gfx/beta.gif"); border-width: 0; padding: 0 0 0 0; margin: 0 0 0 0; height: 24px;}
.alpha {width: 100%; background-image: url("/pic/gfx/alpha.gif"); border-width: 0; padding: 0 0 0 0; margin: 0 0 0 0; height: 24px;}

.modeltop    {width: 100%;}
.modelnumber {text-align: center; font-size: medium; font-weight: bold; font-family: monospace; height: 16px; width: 24%;}
.modelstars  {width: 38%;}
.modelstars img {float: left;}
.modelstars i {float: left;}
.modelicons  {width: 38%; text-align: right;}
.modelicons img {float: right;}
.vartable    {width: 100%; text-align: center;}
.varentry    {border-width: thin; border-style: solid; text-align: center; font-style: italic; padding: 0 6px 0 6px; background-color: #FFEEDD;}
.credit      {font-style: italic; font-size: x-small; text-align: right;}

.titlebar    {height: 66px; font-size: xx-large; background-color: #000066; color: #FFFFFF; text-align: center;
	      vertical-align: middle;}

.leftbar     {background-color: #006600; vertical-align: top; width: 128px; color: #FFFFFF; font-weight: bold; height: 100%; position: relative; padding-top: 16px; padding-bottom: 16px;}
.leftbarcontent {vertical-align: top; height: 100%; padding: 0 0 20px 0; text-align: center;}
.leftbar a:link       {color: #FFFFFF; background-color: transparent; text-decoration: none;}
.leftbar a:visited    {color: #CCCCCC; background-color: transparent; text-decoration: none;}
.leftbar a:active     {color: #FFFFFF; background-color: transparent; text-decoration: none;}
.leftbar a:hover      {color: #FFFFFF; background-color: transparent; text-decoration: underline;}

.bottombar   {background-color: #CCCC99; text-align: left; height: 44px; display: table; position: relative; width: 100%;}
.bottombar2  {background-color: #CCCC99; text-align: left; height: 44px; position: relative;}
foo.bottombar img {margin-left: 0; display: table-cell; display: table-cell; vertical-align: middle;}
.bamcamark   {position: absolute; left: 0; bottom: 0; padding: 6px 22px;}
.mainpanel {background-repeat: no-repeat; background-position: center top; border-spacing: 8px;}
.infopanel {background: rgba(255,255,255,0.85);}
.footer      {margin-left: 128px; width: 600px;}
/* position: absolute; display: table-cell; text-align: left; height: 44px; left: 132px; bottom: 0; vertical-align: middle; */
.comment_button   {height: 44px; display: table-cell; position: relative; width: 100%; vertical-align: middle;}

.bgok {background-color: #FFFFFF}
.bgno {background-color: #FFCCCC}
.bggray {background-color: #CCCCCC}
.txok {color: #000000}
.txno {color: #FF0000}

.textbutton  {margin: 0 1px; padding: 0 3px; white-space: nowrap; background-color: #006600; color: #FFFFFF;
    font-weight: bold; font-size: 13px; font-family: "Trebuchet MS", "Arial", "sans-serif"; text-decoration: none;
    border-color: #FFFFFF; border-radius: 4px; border-style: solid; border-width: 1px;
    display: inline-block; text-align: center; vertical-align: middle; cursor: pointer;
}
.textbutton:link    {color: #FFFFFF; background-color: #006600; border-color: #FFFFFF;}
.textbutton:visited {color: #FFFFFF; background-color: #006600; border-color: #FFFFFF;}
.textbutton:active  {color: #FFFFFF; background-color: #006600; border-color: #FFFFFF;}
.textbutton:hover   {color: #006600; background-color: #FFFFFF; border-color: #006600; text-decoration: none;}
.textbutton a:link    {color: #FFFFFF; background-color: #006600; border-color: #FFFFFF;}
.textbutton a:visited {color: #FFFFFF; background-color: #006600; border-color: #FFFFFF;}
.textbutton a:active  {color: #FFFFFF; background-color: #006600; border-color: #FFFFFF;}
.textbutton a:hover   {color: #006600; background-color: #FFFFFF; border-color: #006600; text-decoration: none;}
.textupdown {margin: 0;}

/* Used within FF chrome to target CSS to specific URLs: being FF-specific,
it is also useful for targeting FF-only code */
@-moz-document url-prefix(http://) {
    button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
	padding: 0 !important;
	border: 0 none !important;
    }
}

.see_the_faq  {background-color: #FFFF00; color: #006600;border-color: #006600;}
.see_the_faq:link    {color: #006600; background-color: #FFFF00; border-color: #006600;}
.see_the_faq:visited {color: #006600; background-color: #FFFF00; border-color: #006600;}
.see_the_faq:active  {color: #006600; background-color: #FFFF00; border-color: #006600;}
.see_the_faq:hover   {color: #FFFF00; background-color: #006600; border-color: #FFFF00;}

.site_status  {background-color: #FF0000; color: #FFFFFF;border-color: #FFFFFF;}
.site_status:link    {color: #FFFFFF; background-color: #FF0000; border-color: #FFFFFF;}
.site_status:visited {color: #FFFFFF; background-color: #FF0000; border-color: #FFFFFF;}
.site_status:active  {color: #FFFFFF; background-color: #FF0000; border-color: #FFFFFF;}
.site_status:hover   {color: #FF0000; background-color: #FFFFFF; border-color: #FF0000;}

.maintable {width: 1024px; max-width: 1024px;}
.header-links {width: 90%; padding: 0 0 0 0; text-align: center; font-size: 0;}
.header-link-item {margin: 2px;
    display: inline-block; /* an inline element that has all the benifits of a block element without being full width */
    list-style-type: none; /* killing the bullet */
}
.framed {width: 1024px;}

.red    {color: #FF0000;}
.green  {color: #009900;}
.blue   {color: #0000FF;}
.purple {color: #9900FF;}
.black  {color: #000000;}
.white  {color: #FFFFFF;}
.orange {color: #FF9900;}
.yellow {color: #FFFF00;}
.gray   {color: #999999;}
.ltgray {color: #CCCCCC;}
.bold   {font-weight: bold;}
.bgwhite    {background-color: #FFFFFF;}
.bgoffwhite {background-color: #EEEEEE;}

.stat {font-style: italic; font-size: small;}

.width_u {width:  50px;}
.width_t {width: 100px;}
.width_s {width: 200px;}
.width_c {width: 300px;}
.width_m {width: 400px;}
.width_l {width: 600px;}
.width_h {width: 800px;}

.modalbutton {cursor: pointer;}
 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {background-color: #fefefe; padding: 20px; border: 1px solid #888;
    margin: 15% auto; /* 15% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {color: #aaa; float: right; font-size: 28px; font-weight: bold; color: #FF0000;}
.close:hover, .close:focus {color: #990000; text-decoration: none; cursor: pointer;}
