body         {color: #000000; background-color: #FFFFFF; padding: 0 0 0 0; margin: 0 0 0 0;}
img          {vertical-align: middle; border-width: 0;}
.centered    {margin-left: auto; margin-right: auto; display: block;}
.center      {text-align: center;}

a:link       {color: #0000FF; background-color: transparent; text-decoration: none;}
a:visited    {color: #000099; background-color: transparent; text-decoration: none;}
a:active     {color: #009900; background-color: transparent; text-decoration: none;}
a:hover      {color: #000099; background-color: transparent; text-decoration: underline;}

.button      {vertical-align: middle; color: #FFFFFF; padding: 1px; border-width: 0px;}
.updown      {vertical-align: top; text-align: center; width: 160px;}
.lefty       {float: left;}
.righty      {float: right;}
.section     {vertical-align: middle; color: #000000; background-color: #FFFFFF; border-color: #000000; font-size: x-large; padding: 4px; border-width: thin; border-style: solid; text-align: center;}
.subsection  {vertical-align: middle; border-color: #000000; font-size: large; border-width: thin; border-style: solid; text-align: center;}
.textbutton  {vertical-align: middle; font-weight: bold; font-size: 13px; padding: 1px 2px 2px 2px; background-repeat: repeat-x; font-family: "Trebuchet MS", "Arial", "sans-serif";}
.textbuttonn {color: #FFFFFF; background-image: url(/pic/gfx/tbbgn.gif);}
.textbuttonh {color: #006600; background-image: url(/pic/gfx/tbbgh.gif); text-decoration: none;}
.warning     {color: #FF0000; font-weight: bold;}
.spicture    {border-width: 0; padding: 0; margin: 0;}
.hidden      {display: none;}
.shown       {display: inline;}

.title       {background-color: #000066; height: 66px; margin: 3px 0 3px 0; padding: auto; display: table; width: 100%;
              color: #FFFFFF; font-weight: bold; font-size: xx-large; text-align: center;}
.titletext   {display: table-cell; vertical-align: middle;}
.titleimage  {margin-left: auto; margin-right: auto; display: block;}
.description {color: #000000; font-weight: bold; font-size: x-large; text-align: center;}
.note        {color: #000000;}
.loginbar    {color: #000000; background-color: #FFFFFF; border-color: #000000; border-style: solid; border-width: thin;}
.hier        {width: 1024px; border-width: 1px; background-color: #CCCC99; border-style: solid;}
.fullpage    {width: 100%;}

.modelname   {font-weight: bold; font-size: large; text-align: center;}
.newcasting  {padding-bottom: 16px; background-image: url("/pic/gfx/newcasting.gif"); background-position: center bottom; background-repeat:no-repeat;}
.comment     {float: right; vertical-align: middle; color: #FFFFFF; border-width: 0px; padding: 1px;}

.tb          {background-color: #FFFFFF; padding: 0px; width: 100%;}
.sh          {background-color: #FFFFFF; color: #000000; font-size: xx-large; padding: 4px; text-align: center; vertical-align: middle;}
.rh          {background-color: #FFFFFF; color: #000000; font-size: x-large;}
.eh          {font-size: large; font-weight: bold; padding: auto 4px auto 4px; text-align: center; vertical-align: top;}
.eb          {font-size: medium; text-align: left; vertical-align: top;}

.tb          {border-collapse: collapse; border-color: #000000; border-spacing: 1px 0; border-style: solid; border-width: 1px;}
.sh          {border-color: #000000; border-style: solid; border-width: thin;}
.rh          {border-color: #000000; border-style: solid none solid none; border-width: 1px;}
.eh          {border-color: #000000; border-style: ridge; border-width: thin;}
.eb          {border-color: #000000; border-style: ridge; border-width: thin;}

foo.tb_tail     {background-color: #F8EC6D;}
.tb_tail     {border-color: #000000; width: 100%; border-width: 0; border-style: solid; border-collapse: collapse;}
.eb_tail     {vertical-align: top; color: #000000; border-color: #000000; font-size: medium; padding: 4px; border-width: thin; border-style: ridge; text-align: left;}
.eb_tail_1   {border-width: 0; border-style: solid; border-collapse: collapse; vertical-align: middle;}
.eb_tail_2   {border-width: 0; border-style: solid; border-collapse: collapse; text-align: left;}

.beta {width: 100%; background-image: url(/pic/gfx/beta.gif); border-width: 0; padding: 0 0 0 0; margin: 0 0 0 0;}

.modeltop    {width: 100%;}
.modelnumber {text-align: center; font-size: medium; font-weight: bold; font-family: monospace; height: 16px; width: 20%;}
.modelstars  {width: 40%;}
.modelstars img {float: left;}
.modelicons  {width: 40%;}
.modelicons img {float: right;}
.vartable    {width: 100%; text-align: center;}
.varentry    {border-width: thin; border-style: solid; text-align: center; font-style: italic; padding: 0 6px 0 6px; background-color: #FFFFFF;}

.titlebar    {height: 66px; font-size: xx-large; background-color: #000066; color: #FFFFFF; text-align: center;}

.leftbar     {background-color: #006600; vertical-align: top; width: 132px; color: #FFFFFF; font-weight: bold; height: 100%; position: relative; padding-top: 16px;}
.leftbarcontent {vertical-align: top; height: 100%; padding: 0 0 20px 0; text-align: center;}
.leftbar a:link       {color: #FFFFFF; background-color: transparent; text-decoration: none;}
.leftbar a:visited    {color: #CCCCCC; background-color: transparent; text-decoration: none;}
.leftbar a:active     {color: #FFFFFF; background-color: transparent; text-decoration: none;}
.leftbar a:hover      {color: #FFFFFF; background-color: transparent; text-decoration: underline;}

.bottombar   {background-color: #CCCC99; text-align: left; height: 66px; display: table; position: relative; width: 100%;}
foo.bottombar img {margin-left: 0; display: table-cell; display: table-cell; vertical-align: middle;}
.bamcamark   {position: absolute; left: 0; bottom: 0; padding: 15px 32px;}
.footer      {text-align: left; display: table-cell; position: absolute; height: 66px; left: 132px; bottom: 0; vertical-align: middle;}
.comment_button   {height: 66px; display: table-cell; position: relative; width: 100%; vertical-align: middle;}

.bgok {background-color: #FFFFFF}
.bgno {background-color: #FFCCCC}
.txok {color: #000000}
.txno {color: #FF0000}
