

.rul {width: 100%; padding: 0 0 0 0; text-align: center; font-size: 0;}
.eli {margin: 2px 4px; padding: 2px 4px; white-space: nowrap; font-size: 16px;
    display: inline-block; /* an inline element that has all the benifits of a block element without bieng full width */
    list-style-type: none; /* killing the bullet */
}
