body {background-color: #FCE357; color: #000000;}

.tb {background-color: #CCCCCC;}
.sh {background-color: #000000; color: #FFFFFF;}
.rh {background-color: #FFFFFF; color: #000000;}
.eb {background-color: #DDDDAA;}
