body {background-color: #FF8800;}

.tb {background-color: #CCCCCC;}
.sh {background-color: #000000; color: #FFFFFF;}
.rh {background-color: #FFFFFF; color: #000000;}

.rh_ml {background-color: transparent;}
.tb_ml {background-color: #DDDDAA; list-style-type: disc; list-style-position: inside; display: block;}
	/* WTF? margin-before: 1em; margin-after: 1em; margin-start: 0; margin-end: 0; padding-start: 40px; */
.eb_ml {background-color: transparent; list-style-type: disc; list-style-position: inside; border-width: 0;
	display: list-item; /* text-align: -webkit-match-parent; */}

