body {background-color: #EEEEEE;}

img    {margin-left: auto; margin-right: auto; display: block;}

.tb_main {width: auto;}

.tb_packs {width: 1024px;}
.tb {background-color: #FFFFFF; border-width: 0px;}
.sh {color: #FFFFFF; background-color: #000000;}
.rh {background-color: #FFFFFF; color: #000000;}
.eb {background-color: #FFFFFF; text-align: left;}
.eb_pic {text-align: center;}
.eb_year {text-align: center;}
.eb_regionname {text-align: center;}
.eb_product_code {text-align: center;}

.eb_tail_2 {background-color: #CCCCCC; text-align: left;}
.eb_tail_2 img {margin-left: 0; display: inline;}

.packs img {margin-left: 0; display: inline;}
.prodtitle {background-color: #000066; color: #FFFFFF; padding: 4px 4px 4px 4px;}
