.eb_ix {margin-left: auto; margin-right: auto; text-align: center; font-weight: bold; font-size: x-large; vertical-align: bottom; background-color: #DDDDDD;}
.er {}

.image {vertical-align: top;}
.text {vertical-align: top;}
.modelname {font-weight: bold;}
.info {}
#.eb {text-align: center;}
