body {background-color: #FFFFCC;}
.tb {border-width: 0; background-color: #FFFFCC; width: 1024px;}
.sh {font-size: large;}
.eb {border-width: 0;}
.er {background-color: #FFFFCC;}

.ln0 {background-color: #FFFFFF;}
.ln1 {background-color: #FFFFDD;}
.ln2 {background-color: #FFDDDD;}

ul {margin: 0;}

.inset {background-color: #FFFFFF; border-color: #000000; border-width: 1px; border-style: ridge; border-collapse: collapse; padding: 4px;}
.inset tr {border-width: 1px;}
.inset td {border-width: 1px; padding: 0 4px 0 4px;}
.inset td {background-color: #FFFFFF; border-color: #000000; border-width: 1px; border-style: ridge; border-collapse: collapse;}
