body {background-color: #FFFFCC;}
.tb {border-width: 0; background-color: #FFFFCC; width: 1024px;}
.sh {font-size: large;}
.eb {border-width: 0;}
.er {background-color: #FFFFCC;}

.ln0 {background-color: #FFFFCC;}
.ln1 {background-color: #FFFFDD;}
.ln2 {background-color: #FFDDDD;}

ul {margin: 0;}
