body {background-color: #FF8800;}

.tb {background-color: #CCCCCC;}
.sh {color: #FFFFFF; background-color: #000000;}
.rh {background-color: #FFFFFF; color: #000000;}
.eb {background-color: #DDDDAA; color: #000000;}

body {color: #FFFFFF; background-color: #663333;}
a:link {color: #6666FF;}
a:visited {color: #FF6666;}
.cell_0 {vertical-align: top; color: #000000; border-width: thin; border-color: #990000; height: 8px; font-size: medium; border-style: ridge; padding: 4px; text-align: center;}
.cell_1 {vertical-align: top; color: #000000; border-width: thin; border-color: #990000; height: 8px; font-size: medium; border-style: ridge; padding: 4px; text-align: center;}
.cell_3 {vertical-align: top; color: #CC0000; border-width: thin; background-color: #FFFF66; width: 300px; border-color: #990000; font-size: medium; border-style: ridge; padding: 0; text-align: left;}
.cell_4 {vertical-align: top; color: #000000; border-width: thin; background-color: #FFFF66; border-color: #990000; font-size: medium; border-style: ridge; padding: 4px; text-align: left;}
.hcell {text-align: center; color: #FFFFFF; border-color: #990000; font-weight: bold;}
.table {color: #990000; background-color: #330033; border-color: #FFFFFF; border-spacing: 1px; padding: 1px; border-width: 2px;}
.cell_2 {vertical-align: top; color: #FFFFFF; border-width: thin; border-color: #990000; height: 8px; font-size: medium; border-style: ridge; padding: 4px; text-align: center;}

