body {background-color: #FF8800;}

.tb {background-color: #CCCCCC;}
.sh {color: #FFFFFF; background-color: #000000;}
.rh {background-color: #FFFFFF; color: #000000;}
.eb {background-color: #DDDDAA; color: #000000;}

body {background-image: url("/pic/bg/bgmc.gif"); color: #FFFFFF; background-color: #663333;}
a:link {color: #6666FF;}
a:visited {color: #FF6666;}
.hcell {font-weight: bold; text-align: center;}
.cell_0 {vertical-align: top; color: #FFFFFF; border-width: 2px; border-color: #000000; height: 8px; font-size: medium; border-style: ridge; padding: 4px; text-align: left;}
.cell_1 {vertical-align: middle; color: #FFFFFF; border-width: 2px; border-color: #000000; height: 8px; font-size: large; border-style: ridge; padding: 4px; text-align: left;}
.cell_3 {vertical-align: top; color: #000000; border-width: 2px; background-color: #FFFFFF; border-color: #000000; font-size: medium; border-style: ridge; padding: 4px; text-align: left;}
.section {font-size: x-large; background-color: #663333; color: #FFFFFF;}
.table {padding: 1px; color: #990000; background-color: #CC9933; border-spacing: 1px; border-width: 2px;}
.cell_2 {vertical-align: top; color: #000000; border-width: 2px; background-color: #FFFF00; width: 300px; border-color: #000000; font-size: medium; border-style: ridge; padding: 0; text-align: left;}

