body {background-color: #CCCCCC;}
.body {background-color: #FFFFFF;}

.boxborder {background-image: url("/pic/gfx/red4x4.gif"); width: 4px; height: 4px;}
.linklist {vertical-align: top;}
.database {vertical-align: middle; text-align: center; border-width: 1px; border-style: solid; font-size: xx-large; font-weight: bold; margin: 8px;}

.public {width: 13%;}
.private {width: 13%; background-color: #EEEEEE;}
.high {background-color: #DDFFDD;}
