body {background-color: #CCFFCC; text-align: left;}
/* #code_1 {} */
/* #code_2 {display: none;} */
#varsearch {display: none;}

.tb {width: 100%;}

.eb {text-align: center;}
.eb_det {text-align: left;}
.eh_ID {width: 24px; text-align: left; padding-left: 4px; padding-right: 4px; font-weight: bold;}
.eh_Description {padding-left: 4px; padding-right: 4px;}
.eh_Details {width: 300px; font-weight: normal}
.eh_Picture {width: 200px; font-weight: normal}
.eh_Notes {width: 200px; text-align: left; font-weight: normal}
.eh_field {width: 200px;}
.eh_title {width: 200px;}
.eh_value {width: 300px;}
.eh_new {width: 200px;}
.eh_pic {width: 200px;}
.eb_1 {text-align: left; font-weight: normal}
.tb_single {width: 600px;}

.sh {font-size: large;}

.diff {font-weight: bold;}
.same {}
.good_attr {background-color: #FFFFFF;}
.bad_attr {background-color: #FFCCCC;}
.changed {color: #FF0000;}
.changed_schema {color: #FF0000; font-weight: bold;}
.no_model {color: #000000; font-weight: bold;}
.different {background-color: #FFFF99;}
.grayed {background-color: #CCCCCC; color: #000000;}
.grayed_same {background-color: #CCCCCC; color: #990000;}
.good {}
.unrec {color: #000000; font-weight: bold;}
.good_id {font-weight: bold; color: #0000FF;}
.bad_id {font-weight: bold; color: #FF0000;}
.blank {border-style: none;}

.dt_d .eb_1 {text-align: center;}
.eb_lefty {text-align: left;}
