.rh_U_1 {background-color: #144C7F; color: #FFFFFF;}
.rh_U_2 {background-color: #CCA73F; color: #000000;}
.rh_U_3 {background-color: #8D1C4A; color: #FFFFFF;}
.rh_U_4 {background-color: #D8393D; color: #FFFFFF;}
.rh_U_5 {background-color: #01619D; color: #FFFFFF;}
.rh_U_6 {background-color: #D4DE3F; color: #000000;}
.rh_U_7 {background-color: #0E7234; color: #FFFFFF;}
.rh_U_8 {background-color: #252178; color: #FFFFFF;}
.rh_U_9 {background-color: #D66C18; color: #FFFFFF;}
.rh_U_10 {background-color: #791961; color: #FFFFFF;}
