body {background-color: #FF8800;}

.tb {background-color: #CCCCCC;}
.sh {color: #FFFFFF; background-color: #000000;}
.rh {background-color: #FFFFFF; color: #000000; height: 36px; font-size: x-large;}
.eb {}

.rh_U_1 {background-color: #62472C; color: #FFFFFF;}
.rh_U_2 {background-color: #83190C; color: #FFFFFF;}
.rh_U_3 {background-color: #065C41; color: #FFFFFF;}
.rh_U_4 {background-color: #111516; color: #FFFFFF;}
.rh_U_5 {background-color: #6B6B77; color: #FFFFFF;}
.rh_U_6 {background-color: #CD210B; color: #FFFFFF;}
.rh_U_7 {background-color: #FEE006; color: #FFFFFF;}
.rh_U_8 {background-color: #F59C3E; color: #FFFFFF;}
.rh_U_9 {background-color: #E5BC2E; color: #FFFFFF;}
.rh_U_10 {background-color: #A62512; color: #FFFFFF;}
