.rh_R_1 {background-color: #D8323C; color: #FFFFFF;}
.rh_R_2 {background-color: #87A4CC; color: #000000;}
.rh_R_3 {background-color: #A6A855; color: #000000;}
.rh_R_4 {background-color: #8C3836; color: #FFFFFF;}
.rh_R_5 {background-color: #574694; color: #FFFFFF;}
.rh_R_6 {background-color: #756162; color: #000000;}
.rh_R_7 {background-color: #7D7630; color: #000000;}
.rh_R_8 {background-color: #B26D22; color: #000000;}
.rh_R_9 {background-color: #79C5C5; color: #FFFFFF;}
.rh_R_10 {background-color: #53215E; color: #FFFFFF;}
.rh_R_11 {background-color: #349B2E; color: #FFFFFF;}
.rh_R_12 {background-color: #132A23; color: #FFFFFF;}
.rh_R_13 {background-color: #21211B; color: #FFFFFF;}
.rh_R_14 {background-color: #6DAB65; color: #FFFFFF;}
.rh_R_15 {background-color: #B76C8A; color: #000000;}
.rh_R_16 {background-color: #3D3469; color: #FFFFFF;}
.rh_R_17 {background-color: #433F40; color: #FFFFFF;}
.rh_R_18 {background-color: #7B2435; color: #FFFFFF;}
.rh_R_19 {background-color: #6AAA9A; color: #000000;}
.rh_R_20 {background-color: #34529F; color: #FFFFFF;}
.rh_U_1 {background-color: #D8323C; color: #FFFFFF;}
.rh_U_2 {background-color: #87A4CC; color: #000000;}
.rh_U_3 {background-color: #A6A855; color: #000000;}
.rh_U_4 {background-color: #8C3836; color: #FFFFFF;}
.rh_U_5 {background-color: #574694; color: #FFFFFF;}
.rh_U_6 {background-color: #756162; color: #000000;}
.rh_U_7 {background-color: #7D7630; color: #000000;}
.rh_U_8 {background-color: #B26D22; color: #000000;}
.rh_U_9 {background-color: #79C5C5; color: #FFFFFF;}
.rh_U_10 {background-color: #53215E; color: #FFFFFF;}
.rh_U_11 {background-color: #349B2E; color: #FFFFFF;}
.rh_U_12 {background-color: #132A23; color: #FFFFFF;}
.rh_U_13 {background-color: #21211B; color: #FFFFFF;}
.rh_U_14 {background-color: #6DAB65; color: #FFFFFF;}
.rh_U_15 {background-color: #B76C8A; color: #000000;}
.rh_U_16 {background-color: #3D3469; color: #FFFFFF;}
.rh_U_17 {background-color: #433F40; color: #FFFFFF;}
.rh_U_18 {background-color: #7B2435; color: #FFFFFF;}
.rh_U_19 {background-color: #6AAA9A; color: #000000;}
.rh_U_20 {background-color: #34529F; color: #FFFFFF;}
.rh_X {background-color: #0000CC; color: #FFFFFF;}
