body {background-color: #DC5923;}

.tb {background-color: #CCCCCC;}
.sh {color: #FFFFFF; background-color: #000000;}
.rh {background-color: #FFFFFF; color: #000000;}
.eb {background-color: #DDDDDD;}

.eb_1 {background-color: #FFCC99;}
.eb_2 {background-color: #FFCCFF;}
.eb_3 {background-color: #CCFFFF;}
.eb_4 {background-color: #CCCCFF;}
.eb_5 {background-color: #CCCCFF;}
.eb_6 {background-color: #CCFFCC;}
.eb_7 {background-color: #FFFFFF;}

.varentry {background-color: #FFFFFF;}
