body {background-color: #FF8800;}

.tb {background-color: #CCCCCC;}
.sh {color: #FFFFFF; background-color: #000000;}
.rh {background-color: #FFFFFF; color: #000000; height: 36px; font-size: x-large;}
.eb {background-color: #DDDDAA;}

.rh_U_1 {background-color: #D8323C; color: #FFFFFF;}
.rh_U_2 {background-color: #87A4CC; color: #000000;}
.rh_U_3 {background-color: #A9A542; color: #000000;}
.rh_U_4 {background-color: #8C3836; color: #FFFFFF;}
.rh_U_5 {background-color: #574694; color: #FFFFFF;}
.rh_U_6 {background-color: #756162; color: #000000;}
.rh_U_7 {background-color: #7D7630; color: #000000;}
.rh_U_8 {background-color: #B26D22; color: #000000;}
.rh_U_9 {background-color: #79C5C5; color: #FFFFFF;}
.rh_U_10 {background-color: #53215E; color: #FFFFFF;}
.rh_U_11 {background-color: #349B2E; color: #FFFFFF;}
.rh_U_12 {background-color: #000000; color: #FFFFFF;}
.rh_U_13 {background-color: #000000; color: #FFFFFF;}
.rh_U_14 {background-color: #000000; color: #FFFFFF;}
.rh_U_15 {background-color: #000000; color: #FFFFFF;}
.rh_U_16 {background-color: #000000; color: #FFFFFF;}
.rh_U_17 {background-color: #000000; color: #FFFFFF;}
.rh_U_18 {background-color: #000000; color: #FFFFFF;}
.rh_U_19 {background-color: #000000; color: #FFFFFF;}
.rh_U_20 {background-color: #000000; color: #FFFFFF;}
