body {background-color: #FF8800;}

.tb {background-color: #CCCCCC;}
.sh {color: #FFFFFF; background-color: #000000;}
.rh {background-color: #FFFFFF; color: #000000; height: 36px; font-size: x-large;}
.eb {background-color: #DDDDAA;}

.rh_U_1 {background-color: #E46077; color: #FFFFFF;}
.rh_U_2 {background-color: #817F84; color: #FFFFFF;}
.rh_U_3 {background-color: #9FC742; color: #FFFFFF;}
.rh_U_4 {background-color: #322E2B; color: #FFFFFF;}
.rh_U_5 {background-color: #B16213; color: #FFFFFF;}
.rh_U_6 {background-color: #BD4E9D; color: #FFFFFF;}
.rh_U_7 {background-color: #5AB0C1; color: #FFFFFF;}
.rh_U_8 {background-color: #66724E; color: #FFFFFF;}
.rh_U_9 {background-color: #AC8536; color: #FFFFFF;}
.rh_U_10 {background-color: #369046; color: #FFFFFF;}
