body {background-color: #FF8800;}

.tb {background-color: #CCCCCC;}
.sh {color: #FFFFFF; background-color: #000000;}
.rh {background-color: #FFFFFF; color: #000000; height: 36px; font-size: x-large;}
.eb {background-color: #DDDDAA;}

.rh_U_1 {background-color: #312EA1; color: #FFFFFF;}
.rh_U_2 {background-color: #100E11; color: #FFFFFF;}
.rh_U_3 {background-color: #3E1FA9; color: #FFFFFF;}
.rh_U_4 {background-color: #4C4744; color: #FFFFFF;}
.rh_U_5 {background-color: #8189B8; color: #FFFFFF;}
.rh_U_6 {background-color: #FEF126; color: #FFFFFF;}
.rh_U_7 {background-color: #3D6328; color: #FFFFFF;}
.rh_U_8 {background-color: #DA3533; color: #FFFFFF;}
.rh_U_9 {background-color: #5C8424; color: #FFFFFF;}
.rh_U_10 {background-color: #6A3C2F; color: #FFFFFF;}
