.rh_U_1 {background-color: #BE45A6; color: #FFFFFF;}
.rh_U_2 {background-color: #9397A3; color: #FFFFFF;}
.rh_U_3 {background-color: #BBC54B; color: #FFFFFF;}
.rh_U_4 {background-color: #4D4344; color: #FFFFFF;}
.rh_U_5 {background-color: #F49940; color: #FFFFFF;}
.rh_U_6 {background-color: #CF3A36; color: #FFFFFF;}
.rh_U_7 {background-color: #8989AF; color: #FFFFFF;}
.rh_U_8 {background-color: #B7AE69; color: #FFFFFF;}
.rh_U_9 {background-color: #D6A936; color: #FFFFFF;}
.rh_U_10 {background-color: #4CB573; color: #FFFFFF;}
