body {background-color: #FF8800;}

.tb {background-color: #CCCCCC;}
.sh {color: #FFFFFF; background-color: #D63322; border-color: #FFFFFF;}
.rh {background-color: #FFFFFF; color: #000000; border-color: #FFFFFF;}
.eb {background-color: #DDDDAA;}

