.largepic {float: left;}

body {background-color: #FF9933;}
.tb_year {background-color: #999999;}
.er {background-color: #CCCCFF;}
.eb_0 {background-color: #FFFFFF;}
.eb_1 {background-color: #CCCCFF;}

.varentry {background-color: #FFFFFF;}
