.largepic {float: left;}

body {background-color: #FFCC33;}

.tb_year {background-color: #CCCCCC; max-width: 1024px;}
.sh {color: #FFFFFF; background-color: #000099;}
.rh {background-color: #FFFFFF; color: #000000;}
.er {background-color: #CCCCFF;}
.eb {background-color: #CCCC99;}
.tb_tail {background-color: #CCCCCC;}
.tb_tail eb {background-color: #CCCCCC;}
