body {background-color: #FFFF33;}

.tb_year {background-color: #CCCCCC; max-width: 1024px;}
.sh {background-color: #FFFFFF; color: #CC0000;}
.rh {background-color: #FFFFFF; color: #CC0000;}
.er {background-color: #CCCCFF;}
.eb {background-color: #CCCC66;}
.tb_tail {background-color: #CCCCCC;}
.tb_tail eb {background-color: #CCCCCC;}
