{%- import "config.html" as config -%}
{%- import "render.html" as render -%}
{%- block page_header -%}
<html>
<!-- This page lovingly rendered by the new templating engine. -->
<head><meta charset="UTF-8"><title>{% if page.is_beta %}BETA: {% endif %}{{ page.title }}</title>
<link rel="icon" href="http://www.bamca.org/pic/gfx/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://www.bamca.org/pic/gfx/favicon.ico" type="image/x-icon" />
{%- for s in page.styles %}
<link rel="stylesheet" href="/styles/{{ s }}.css" type="text/css">
{%- endfor %}
{%- if page.extra %}{{ page.extra }}{% endif %}
{%- if not page.is_beta %}
{{ page.google_analytics_js }}
{%- endif %}
</head>
{% endblock page_header %}

{%- block page_body_start %}
<body>
{%- if page.is_beta %}
<table width="100%"><tr><td height="24" class="beta">&nbsp;</td></tr><tr><td>
{%- endif %}
{%- if page.hierarchy -%}
<table class="hier"><tr><td>
{%- for lnk in page.hierarchy %}
<a href="{{ lnk.link }}">{{ lnk.name }}</a> &gt;
{%- endfor %}
</td></tr></table>
{%- endif %}
{{ page.messages }}
{%- if page.title and not page.hide_title %}<div class="title">{{ page.title }}</div>{% endif %}
{%- if page.titleimage %}<img src="{{ page.titleimage }}" class="titleimage">{% endif %}
{%- if page.description %}<div class="description">{{ page.description }}</div>{% endif %}
{%- if page.note %}<div class="note">{{ page.note }}</div>{% endif %}
{%- endblock page_body_start %}
{%- block page_body %}
{{ content }}
{%- endblock page_body %}
{%- block page_footer %}
{{ page.footer }}
{%- endblock page_footer %}
{%- block page_body_end %}
<p>
{%- if page.tail.effort %}
Every effort has been made to make this as accurate as possible.  If you have corrections, please contact us.<p>
{%- endif %}
{%- if page.tail.moreinfo %}
Feel free to ask for clarification on these or other models.<p>
{%- endif %}
{%- if page.tail.contact %}
This page is maintained by members of BAMCA.
<a href="../pages/faq.html">See here for information on contacting us.</a><p>
{%- endif %}
{%- if page.tail.disclaimer %}
<hr>
BAMCA is a private club and is not affiliated with Tyco Toys, Inc. or Matchbox
Toys (USA) Ltd.  Matchbox and the Matchbox logo are registered trademarks
of Matchbox International Ltd. and are used with permission.
<hr><p>
{%- endif %}
{%- if page.tail.flags %}
<center>
{%- for flag in page.list_flags %}
<nobr>{{ page.format_image_flag(flag) }} {{ page.flag_info[flag][0] }}</nobr>
{%- if not loop.last %}
{{ self.fmt_art('ball.gif', desc='o') }}
{%- endif %}
{%- endfor %}
</center><p>
{%- endif %}
{%- if page.tail.stat %}
<font size="-1"><i>{{ page.tail.stat }}</i></font>\
{%- endif %}
{%- if page.is_beta %}
<p>
</td></tr><tr><td height="24" class="beta">&nbsp;</td></tr></table>
{%- endif %}
</body>
</html>
{%- endblock page_body_end -%}
