{%- extends "base.html" -%}

{%- block body_title -%}
{%- endblock body_title -%}

{%- block body_footer -%}
{%- endblock body_footer -%}

{%- block page_body -%}
<b id="intro">Introduction</b>
<p>

In this document an attempt is made to categorize all the blisterpacks
made for single Matchbox Series 1-75 models from 1963 to date. The
selection of blisterpacks presented here is based on a small
exhibition which was first shown in 1993 during two international
toyshows and the compilation would like to direct the interested
collectors' attention to a topic area which in the past has found
little consideration: the blisterpacks.
<p>

Blisterpacks are a packaging type by which the die cast toy models
are enclosed in a thin molded transparent piece of styrene and then
attached to a backing card. Blisterpacks were introduced at the
beginning of the sixties by numerous die cast toy companies and
they are used as the most common packaging type until today.
<p>

Matchbox models were offered from 1953 until 1963 exclusively in
the traditional closed boxes which had been designed by M. Kohnstam
for the marketing of die cast metal toys. These were small boxes
which resembled the make-up and size of matchboxes.
<p>

In a publication, the Matchbox collector Philip Bowdidge from England
carefully described nearly all possible box variants of this early
period using black and white copy images of the &quot;Script Moko
boxes&quot;; &quot;Moko boxes&quot;; &quot;Lesney boxes&quot;;
&quot;Picture boxes&quot; et cetera and explained the sequence of
the issuing dates. From time to time this publication was amended
by supplementary pages to make it topical if variants, not known
so far, had been discovered by collectors.
<p>

In 1963, the Fred Bronner Corporation in New York, N.Y., marketed
the first Matchbox blisterpack in the United States of America.
Blisterpacks, in the production process somewhat more costly than
the regular boxes, were meant to be a complement to the traditional
packaging type: The models were supposed to be quickly recognized
by children (the buyers, the consumers) and they would no longer
needed to be sorted into big cardboard displays in a tedious way.
It became possible now to present the models in food and department
stores, gas stations, almost everywhere, without problems in a sales
rack, in any corner, but well visible.
<p>

A &quot;second product&quot; had originated, so to speak, with the
transparent packaging on a cardboard with a colored motive backdrop.
Naturally, the packaging was torn open after the purchase and
disposed of in the trash can as waste. This seemingly paradox idea
did not only correspond with the spirit of the world of economic
miracles of the sixties but also decides over the sucessful sale
of a product until today: An attractive packaging only results in
a most effective eye-catcher for the consumer. And, it is an open
secret in the profitable economy that products in a noninterchangeable
packaging ensure sucessful sales and highest profit rates. But it
was here that the Fred Bronner Corporation got into a dilemma: The
world known trade name &quot;Matchbox&quot; pointed to the trade
mark, the &quot;Matchbox&quot;-box making the product itself
noninterchangeable and recognizable. In the beginning, it was decided
to simply encase the classic cardbox within the first blisterpacks,
which meant that the sales product was double packaged. Thus, the
&quot;blisterpack with box&quot; originated: The model and its box
encased together onto a cardboard. A curiosity by itself, because
in the long run this type of double-packaging economically did not
make any sense for the company. But the first blister series for
the miniatures - as well as for the Yesteryear models - were enclosed
together with the original classic cardboard boxes. For some Matchbox
collectors these first type blisterpacks need careful consideration:
It is from this type of packaging that the description &quot;mint
and boxed&quot; (unplayed/brand new and packaged with unopened box)
received its true meaning. The miniature series 1-75 was offered
in blisterpacks with boxes until 1970. In the U.S.A. only, the
traditional way of packaging with the conventional cardboxes was
maintained through the seventies and eighties until 1997 as an
alternative to blisterpacks with their sales racks.
<p>

This listing excludes every kind of packaging other than blisterpacks
(closed or window boxes, bags, models packed with other items etc.)
and all blisterpacks made for more than one model (twinpacks,
multipacks, value packs etc.) or for combinations of Series 1-75
with other models. Also, related ranges which are not regarded as
part of the Series 1-75 are not covered (e.g. Super Chargers, Swop
Tops, Sparkers, Mega Blasters, Turbo 2, Connectables, Convoy etc.).
<p>

Mainly the front faces of the packs are dealt with in this issue
of the document; systematic coverage of the various designs on the
backs of the blistercards is postponed until a later issue. Without
the comprehensive records from the factory archives and the assistance
of the interested collectors such a work is not possible.
<p>

We hope that this listing will offer some interesting information
and reading fun, and we would also like to expect critique and
suggestions for improvements. With the possibilities of multimedia
equipment, personal computer systems and worldwide online services
collectors will find new ways for the exchange of experiences and
knowledge. The digitalization of photographs makes it possible to
quickly integrate and process without difficulties additional
information about new variants and finds. In addition, these technical
possibilities offer the chance to create a &quot;new&quot; and
independent communication forum for collectors which will establish
itself side by side with the printed periodicals. No matter in which
direction the technical changes will go, it is safe to say that
through the new and changing technical structures communication
will become simpler and faster.
<p>

The descriptions of the packs in the following listing are subdivided
into the following categories:
<p>

{{ show_index() }}
<p>

With the standard packs, type sequence letters are adopted from
commonly used designations of Matchbox box generations (closed box
types A to L, European window box types M to S) that roughly
correspond to the blisterpack generations. Types A to C are omitted
because blisterpacks did not yet exist when those box types were
current. Type K is omitted because blisterpack type J directly
corresponds to both box types J and K.
<p>

For the last three categories only a basic overview of known types
is given; more details will be given in a future issue of this
document.
<p>

Dates mentioned in this list are the dates that the cards are
believed to be used.  Usually, the copyright date is the
previous year.
<p>

Christian Falkensteiner &amp; Frank Sygusch, April 2003
<p>

Reformatted, with examples added, by Dean Dierschow, 2006
<p>

Additional pictures contributed by Mark Nagel, 2008
<p>

<hr>

{# first the modals #}
{%- for bpid in rexamples -%}
 {%- for img in rexamples[bpid] -%}
  {{ make_modal(img.0, img.1, img.0) }}
 {%- endfor -%}
{%- endfor -%}

{%- for category in other -%}
 {%- for btype in category.2 -%}
  {{ make_modal(btype.0, cexamples[btype.0], btype.1) }}
  {%- for subtype in btype.2 -%}
   {{ make_modal(subtype.0, cexamples[subtype.0], btype.1 + ' - ' + subtype.1) }}
  {%- endfor -%}
 {%- endfor -%}
{%- endfor -%}

{# now the actual lines #}
{% for region in core %}
 <b>{{ rt('p') }}<u id="{{ region.0 }}">{{ region.0 }} -- {{ region.1 }}</u></b><br>
 {%- for btype in region.2 %}
  {{ blistertype(btype, loop.last) }}
  {{ show_examples(region.0 + '-' + btype.0.0, loop.last) }}
 {% endfor -%}
 <p>
{% endfor %}

<hr>

{% for category in other -%}
 <b><u id="{{ category.0 }}">{{ category.1 }}</u></b><br>
 {%- for btype in category.2 -%}
  {{ show_other(btype.0, btype.1, cexamples[btype.0], loop.last, btype.2) }}
 {%- endfor -%}
 <p>
{%- endfor -%}

{%- endblock page_body -%}


{%- macro show_index() -%}
 <table border=1>
 {% for region in core -%}
  <tr><td>{{ region.0 }}</td><td><a href="#{{ region.0 }}">{{ region.1 }}</a></td></tr>
 {% endfor -%}
 {% for btype in other -%}
  <tr><td>&nbsp;</td><td><a href="#{{ btype.0 }}">{{ btype.1 }}</a></td></tr>
 {% endfor -%}
 </table>
{%- endmacro -%}

{%- macro rt(x) -%}
 <img src="../pic/gfx/tree{{ x }}.gif" align="absmiddle" height="24" width="24">
{% endmacro -%}

{%- macro rt_vb(islast) -%}
 {%- if islast -%}{{ rt('b') }}{%- else -%}{{ rt('v') }}{%- endif -%}
{% endmacro -%}

{%- macro rt_cb(count) -%}
 {%- for c in range(count) -%}{{ rt('b') }}{%- endfor -%}
{% endmacro -%}

{%- macro rt_ta(islast) -%}
 {%- if islast -%}{{ rt('a') }}{%- else -%}{{ rt('t') }}{%- endif -%}
{% endmacro -%}

{%- macro subln(line, count, islast, islast2) -%}
 {{ rt_vb(islast) }}
 {{ rt_cb(count) }}
 {{ rt_ta(islast2) }}
 {{ line.0 }} - {{ line.1 }}
{%- endmacro -%}

{%- macro subclause(show, count, islast) -%}
 {{ rt_vb(islast) }}
 {{ rt_cb(count - 1) }}
 {{ rt('p') }}<b>{{ show.0 }}:</b><br>
 {%- for ln in show.1 -%}
  {{ subln(ln, count - 1, islast, loop.last) }}<br>
 {%- endfor -%}
{%- endmacro -%}

{%- macro blistertype(show, islast) -%}
 {%- for clause in show -%}
  {%- if loop.first -%}
   {{ rt_ta(islast) }}
   <b>{{ clause.0 }} Type</b> -- {{ clause.1 }}<br>
   {%- for note in clause.2 -%}
    {{ rt_vb(islast) }}
    <i>{{ note }}</i><br>
   {%- endfor -%}
  {%- elif clause is string -%}
   {{ rt_vb(islast) }}
   <i>{{ clause }}</i><br>
  {%- else -%}
   {{ subclause(clause, loop.index0, islast) }}
  {%- endif -%}
 {%- endfor -%}
{%- endmacro -%}

{%- macro show_other(pic, name, ismodal, islast, subtypes) -%}
 {{ rt_ta(islast) }}
 {%- if ismodal -%}{{ make_link(pic, name) }}{%- else -%}{{ name }}{%- endif -%}<br>
 {%- for ln in subtypes -%}
  {{ rt_vb(islast) }}
  {{ rt_ta(loop.last) }}
  {%- if cexamples[ln.0] -%}{{ make_link(ln.0, ln.1) }}{%- else -%}{{ ln.1 }}{%- endif -%}<br>
 {%- endfor -%}
{%- endmacro -%}

{%- macro show_examples(bpid, islast) -%}
 {%- if rexamples[bpid] -%} 
  {{ rt_vb(islast) }}
  Examples:{%- for examp in rexamples[bpid] %} {{ make_link(examp.0, examp.0) }}{%- endfor -%}<br>
 {%- endif -%}
{%- endmacro -%}

{%- macro make_modal(modal_id, file_path, modal_title) -%}
 {%- if file_path -%}
  <div id="m.{{ modal_id }}" class="modal">
  <div class="modal-content"><span class="close" id="m.{{ modal_id }}.close">&times;</span>
  <center><h3>{{ modal_title }}</h3><p><img src="../{{ file_path }}"></center></div></div>
 {%- endif -%}
{%- endmacro -%}

{%- macro make_link(modal_id, text) -%}
 <a class="blue" onclick="init_modal('m.{{ modal_id }}');">{{ text }}</a>
{%- endmacro -%}
