{%- extends "base.html" -%}

{%- block page_body -%}
{% if llistix %}
{{ lister(llistix) }}
{% else %}
{{ asker() }}
{% endif %}
{%- endblock page_body -%}


{% macro menubox(style, pic) %}
  <td><input type="radio" name="style" value="{{ style }}"> {{ style }} style</td>
  <td><img src="../pic/box/s_{{ pic }}-{{ style|lower }}.jpg"></td>
{% endmacro %}

{% macro asker() %}
From 1953 to 1982, Lesney used boxes for each 1-75 series model with a
picture of the enclosed model.  These boxes have been categorized into
several different styles.<p>

Choose which boxes you would like to see:<p>

<form action="/cgi-bin/boxart.cgi" method="get" name="box">

<table>
 <tr>
  <td><h3>Series:</h3></td>
  <td width="100"></td>
  <td><h3>Model Numbers:</h3></td>
 </tr>
 <tr>
  <td><input type="radio" name="series" checked value=""> All</td>
  <td></td>
  <td>Starting at number:</td>
  <td><input type="text" name="start" size="3" value="1" id="start"></td>
<td valign=top class="updown">
</td>
 </tr>
 <tr>
  <td><input type="radio" name="series" value="RW"> Regular Wheels</td>
  <td></td>
  <td>Ending at number:</td>
  <td><input type="text" name="end" size="3" value="75" id="end"></td>
 </tr>
 <tr>
  <td><input type="radio" name="series" value="SF"> Superfast</td>
{% if page.is_admin %}
  <td></td>
  <td><i>Verbose:</i></td>
  <td><input type="checkbox" name="verbose" value="1"></td>
 </tr>
 <tr>
  <td></td>
  <td></td>
  <td><i>Compact:</i></td>
  <td><input type="checkbox" name="c" value="1"></td>
  <td></td>
{% endif %}
 </tr>
</table>

<h3>Styles:</h3><p>
<table>
 <tr>
  <td><input type="radio" name="style" checked value="all"> All</td>
 </tr>
 <tr>{{ menubox('A', 'rw01a') }}{{ menubox('G', 'sf11a') }} </tr>
 <tr>{{ menubox('B', 'rw02a') }}{{ menubox('H', 'sf13b') }} </tr>
 <tr>{{ menubox('C', 'rw03b') }}{{ menubox('I', 'sf15b') }} </tr>
 <tr>{{ menubox('D', 'rw04c') }}{{ menubox('J', 'sf16a') }} </tr>
 <tr>{{ menubox('E', 'rw05d') }}{{ menubox('K', 'sf19c') }} </tr>
 <tr>{{ menubox('F', 'rw06d') }}{{ menubox('L', 'sf21c') }} </tr>
</table>
<input type="image" name="submit" src="../pic/gfx/but_see_the_boxes.gif" alt="SEE THE BOXES" onmouseover="this.src='../pic/gfx/hov_see_the_boxes.gif';" onmouseout="this.src='../pic/gfx/but_see_the_boxes.gif';" class="button"> -
<img src="../pic/gfx/but_reset.gif" onmouseover="this.src='../pic/gfx/hov_reset.gif';" onmouseout="this.src='../pic/gfx/but_reset.gif';" border="0" onClick="ResetForm(document.box)" alt="RESET" class="button">
</form>

<p><hr><p>
Please note that the resulting page will be very graphics intensive, and may take several minutes to load.<br>
The basis for the information on this page is <a href="http://www.mboxcommunity.com/cfalkens/Matchbox/Boxes/MBboxes.doc">Christian Falkensteiner's wonderful box variation document</a>.

{%- endmacro -%}

{% macro lister(llistix) %}
{% for section in llistix.section %}
{{ render.fmt_anchor(section.anchor) }}
<table class="tb">
{% if section.name %}
 <tr>
  <th colspan="{{ section.columns|length }}" class="{{ render.class_id('sh', section.id) }}">{{ section.name }}</th>
 </tr>
{% endif %}
<tr class="er">
{%- for col in section.columns %}
{#  <th class="{{ render.class_id('eh', section.id) }}{{ render.class_id('eh', range.id) }}">{{ section.headers[col] }}</th> #}
  <th class="{{ render.class_id('eh', section.id, range.id) }}">{{ section.headers[col] }}</th>
{%- endfor -%}
</tr>
{%- for range in section.range %}
{{ render.fmt_anchor(range.anchor) }}
{% if range.name %}
 <tr>
  <th colspan="{{ range.columns|length }}" class="{{ render.class_id('sh', range.id) }}">{{ range.name }}</th>
 </tr>
{% endif %}
{%- for entry in range.entry %}
<tr class="er">
{%- for col in section.columns %}
{% if entry[col] %}
  <td class="eb"{% if entry[col].rows %} rowspan="{{ entry[col].rows }}"{% endif %}>{{ entry[col].txt or '&nbsp;' }}</td>
{%- endif %}
{%- endfor %}
</tr>
{%- endfor -%}
{%- if range.note -%}
<tr class="er">
  <td colspan="{{ section.columns|length }}" class="eb">{{ range.note }}</td>
</tr>
{%- endif -%}
{%- endfor -%}
{%- if section.note -%}
<tr class="er">
  <td colspan="{{ section.columns|length }}" class="eb">{{ section.note }}</td>
</tr>
{%- endif -%}
</table>
{% endfor %}
{% if llistix.tail %}
<table class="tb_tail tb">
 <tr>
{% for tail in llistix.tail %}
  <td class="eb_tail_{{ loop.index }} eb">{{ tail }}</td>
{% endfor %}
 </tr>
</table>
{% endif %}
{% endmacro %}
