{%- extends "base.html" %}

{%- macro add_left_bar(rowspan=4, icons=[], content='') %}
<td rowspan="{{ rowspan }}" class="leftbar">
<div class="leftbarcontent">
{%- for icon in icons %}{% if icon %}{{ icon }}{% endif %}{% endfor %}
{{ content }}
</div>
<div class="bamcamark"><img src="/pic/icon/l_{{ page.bamcamark }}"></div>
</td>
{%- endmacro %}

{%- block page_body %}

{#- top #}
<table class="framed"><tr>

{#- left bar #}
{{ add_left_bar(rowspan, icons=left_bar_icons, content=left_bar_content) }}

{#- title banner #}
{{ render.add_banner(title, note) }}
</tr>

{#- main panel #}
{%- block frame_body %}
<tr><td>
{%- block frame_body_panel %}
insert content here
{%- endblock frame_body_panel %}
</td></tr>
{%- endblock frame_body %}

{#- bottom bar #}
<tr><td class="bottombar">
{{ page.comment_button }}
</td></tr></table>

{%- block frame_footer -%}
{%- endblock frame_footer -%}

{%- endblock page_body %}

{%- block body_footer %}
{%- endblock body_footer %}
