{%- extends "base.html" %}
{%- block page_body %}

{#- top #}
<table width="100%"><tr>

{#- left bar #}
{{ render.add_left_bar(type_id, icon_id, vehicle_type, rowspan, content=left_bar_content) }}

{#- title banner #}
{{ render.add_banner(title, note) }}
</tr>

{#- main panel #}
{%- block frame_body %}
<tr><td>
{%- block frame_body_panel %}
insert content here
{%- endblock frame_body_panel %}
</td></tr>
{%- endblock frame_body %}

{#- bottom bar #}
<tr><td class="bottombar">
{{ page.footer }}
</td></tr></table>

{%- block frame_footer -%}
{%- endblock frame_footer -%}

{%- endblock page_body %}

{%- block page_footer %}
{%- endblock page_footer %}
