{%- extends "base.html" %}

{%- macro add_left_bar(type_id=None, base_id=None, vehicle_type='', rowspan=4, content='') %}
<td rowspan="{{ rowspan }}" class="leftbar">
<div class="leftbarcontent">
{%- if base_id or type_id or vehicle_type %}
{%- if type_id %}{{ render.format_image_icon(type_id) }}<p>{% endif %}
{%- if base_id %}{{ render.format_image_optional(base_id, '', '.' + config.IMG_DIR_MAN_ICON, prefix='i_', suffix='.gif', also={'class':'centered'}) }}<p>{% endif %}
{% for vtype in vehicle_type %}
{{ render.format_image_optional(vtype, '', '.' + config.IMG_DIR_ICON, suffix='.gif', also={'class':'centered'}) }}<p>
{% endfor %}
<p>{% endif %}
{{ content }}
</div>
<div class="bamcamark"><img src="/pic/icon/l_{{ page.bamcamark }}"></div>
</td>
{%- endmacro %}

{%- block page_body %}

{#- top #}
<table class="framed"><tr>

{#- left bar #}
{{ add_left_bar(type_id, icon_id, vehicle_type, rowspan, content=left_bar_content) }}

{#- title banner #}
{{ render.add_banner(title, note) }}
</tr>

{#- main panel #}
{%- block frame_body %}
<tr><td>
{%- block frame_body_panel %}
insert content here
{%- endblock frame_body_panel %}
</td></tr>
{%- endblock frame_body %}

{#- bottom bar #}
<tr><td class="bottombar">
{{ page.comment_button }}
</td></tr></table>

{%- block frame_footer -%}
{%- endblock frame_footer -%}

{%- endblock page_body %}

{%- block body_footer %}
{%- endblock body_footer %}
