{%- extends "base.html" -%}
{%- import "showix.html" as showix -%}

{%- macro mack_entry(entry) %}
  <center>
   <table class="entry">
    <tr><td width="100%" class="modelnumber"><a href="{{ entry.data.href }}"><center>{{ entry.data.id|upper }}</center></a></td></tr>
    <tr><td><a href="{{ entry.data.href }}"><center>{{ entry.data.imgstr }}</center></a></td></tr>
    <tr><td><a href="{{ entry.data.href }}"><center>{{ entry.data.name }}</center></a></td></tr>
   </table>
  </center>
{% endmacro -%}

{%- block page_body -%}
{{ showix.format_matrix(llineup, mack_entry) }}
{%- endblock page_body -%}
