{%- extends "base.html" -%}
{%- import "showix.html" as showix -%}

{%- macro mack_entry(entry) %}
  <center>
   <table class="entry">
    <tr><td width="100%"><a href="{{ entry.href }}"><center><font face="Courier">{{ entry.id|upper }}</font></center></a></td></tr>
    <tr><td><a href="{{ entry.href }}"><center>{{ entry.imgstr }}</center></a></td></tr>
    <tr><td><a href="{{ entry.href }}"><center>{{ entry.name }}</center></a></td></tr>
   </table>
  </center>
{% endmacro -%}

{%- block page_body -%}
{{ showix.format_matrix(llineup, mack_entry) }}
{%- endblock page_body -%}
