{%- extends "base.html" -%}
{%- import "showix.html" as showix -%}

{%- macro man_entry(entry) -%}
  <center>
   <table class="entry">
    <tr><td></td><td width="32"><i><font size="-1">{{ entry.data.first_year }}</font></i></td>
    <td width="136"><center><font face="Courier">{{ entry.data.id }}</font></center></td>
    <td width="32">{{ entry.data.flag }}</td><td></td></tr>
    <tr><td colspan="5"><center>
     {{ entry.data.lname }}
     {{ entry.data.desclist }}    </center></td></tr>
   </table>
  </center>
{%- endmacro -%}

{%- block page_body -%}
{{ showix.format_matrix(llineup, man_entry) }}
{%- endblock page_body -%}
