{%- extends "base.html" -%}
{%- import "showix.html" as showix -%}

{%- macro man_entry(entry) -%}
  <center>
   <table class="entry" id="{{ entry.data.shown_id }}">
    <tr><td></td>
    <td width="32px"><i class="smallish">{{ entry.data.first_year }}</i></td>
    <td width="136px" class="modelname monospace centerize">{{ entry.data.shown_id }}</td>
    <td width="32px">{{ entry.data.flag }}</td><td></td></tr>
    <tr><td colspan="5"><center>
     {{ entry.data.lname }}
     {{ entry.data.desclist }}    </center></td></tr>
   </table>
  </center>
{%- endmacro -%}

{%- block page_body -%}
{{ showix.format_matrix(llineup, man_entry) }}
{%- endblock page_body -%}
