{% extends "base.html" %}
{%- import "showix.html" as showix -%}

{% block page_body %}

<table class="packs fullpage"><tr>
<td valign="top">
{{- showix.format_listix(llineup) }}
</td>

<td valign="top">
<form>
<input type="hidden" name="page" value="{{ page_id }}">
Filter by Year<br>
<input type="radio" name="year" value="" CHECKED> all<br>
{%- for year in years %}
<input type="radio" name="year" value="{{ year }}"> {{ year }}<br>
{%- endfor %}
<p>
Filter by Region<br>
<input type="radio" name="region" value="" CHECKED> all<br>
{%- for region in regions %}
<input type="radio" name="region" value="{{ region[0] }}"> {{ region[1] }}<br>
{%- endfor %}
<p>
Filter by Title<br>
<input type="text" name="title" size="20" maxlength="80">
<p>
{% if page.is_admin %}
<input type="checkbox" name="verbose" value="1"> <i>Verbose</i>
<p>
{% endif %}
{{- render.format_button_input('submit') }}
<input type="hidden" name="{{ page_id }}" value="%s">
</form>
{% if page.is_admin %}
<a href="mass.cgi?type=pack&section_id={{ section_id }}&num={{ num }}"><div class="textbutton">ADD</div></a>
{% endif %}
</td></tr></table>

{%- endblock page_body %}
