{%- import "config.html" as config -%}


{%- macro format_warning(message) %}
<div class="warning">{% for word in message %}{{ word }} {% endfor %}</div>
{%- endmacro %}


{%- macro format_image_art(fname, desc, also) -%}
{%- if fname -%}<img src="../{{ config.IMG_DIR_ART }}/{{ fname }}.gif" alt="{{ desc }}"{{ fmt_also(also) }}>{%- endif -%}
{%- endmacro -%}


{%- macro format_image_optional(fname, desc, pdir, prefix='', suffix='.jpg', also='') -%}
{%- if fname -%}<img src="../{{ pdir }}/{{ prefix }}{{ fname|lower }}{{ suffix }}"{% if desc %} alt="{{ desc }}"{% endif %}{{ fmt_also(also) }}>{%- endif -%}
{%- endmacro -%}


{%- macro fmt_anchor(fname, desc, hspace, also) %}{% if fname %}<a name="{{ fname }}"></a>
{%- endif %}{% endmacro %}


{%- macro format_button(bname, link='') -%}
{% if link %}<a href="{{ link }}">{% endif %}<img src="../{{ find_button_image(bname) }}" alt="{{ find_button_label(bname) }}" class="button" onmouseout="this.src='../{{ find_button_image(bname) }}';" onmouseover="this.src='../{{ find_hover_image(bname) }}';">{% if link %}</a>{% endif %}
{%- endmacro -%}


{%- macro format_button_input(bname="submit", also='') -%}
<input type="image" name="{{ find_button_name(bname) }}" src="../{{ find_button_image(bname) }}" alt="{{ find_button_label(bname) }}" class="button" onmouseout="this.src='../{{ find_button_image(bname) }}';" onmouseover="this.src='../{{ find_hover_image(bname) }}';"{{ fmt_also(also) }}>
{%- endmacro -%}


{%- macro format_button_reset(form_id, also='') -%}
<img src="../{{ find_button_image('reset') }}" onmouseover="this.src='../{{ find_hover_image('reset') }}';" onmouseout="this.src='../{{ find_button_image('reset') }}';" border="0" onClick="ResetForm(document.{{ form_id }})" alt="RESET" class="button"{{ fmt_also(also) }}>
{%- endmacro %}


{%- macro format_button_input_visibility_expanded(id) -%}
<input type="image" src "../pic/gfx/but_collapse.gif" id="{{ id }}_l" value="collapse" onclick="toggle_visibility('{{ id }}','{{ id }}_l'); return false;" class="button" onmouseover="this.src='../pic/gfx/but_collapse.gif';" onmouseout="this.src='../pic/gfx/hov_collapse.gif';">
{%- endmacro %}


{%- macro format_button_input_visibility_collapsed(id) -%}
<input type="image" src "../pic/gfx/but_expand.gif" id="{{ id }}_l" value="expand" onclick="toggle_visibility('{{ id }}','{{ id }}_l'); return false;" class="button" onmouseover="this.src='../pic/gfx/but_expand.gif';" onmouseout="this.src='../pic/gfx/hov_expand.gif';">
{%- endmacro %}


{%- macro fmt_also(also) -%}
{%- if also -%}{%- for tag in also %} {{ tag }}="{{ also[tag] }}"{%- endfor -%}{%- endif -%}
{%- endmacro -%}


{%- macro find_button_name(name) -%}
{{ name|replace(' ', '_')|lower }}
{%- endmacro %}


{%- macro find_button_label(name) -%}
{{ name|replace('_', ' ')|upper }}
{%- endmacro %}


{%- macro find_button_image(name, pdir='') -%}
{%- if pdir %}{{ pdir }}{% else %}{{ config.IMG_DIR_ART }}{% endif %}/but_{{ name|replace(' ', '_')|lower }}.gif
{%- endmacro %}


{%- macro find_hover_image(name, pdir='') -%}
{%- if pdir %}{{ pdir }}{% else %}{{ config.IMG_DIR_ART }}{% endif %}/hov_{{ name|replace(' ', '_')|lower }}.gif
{%- endmacro %}


{%- macro class_id(pfx) -%}
{%- for cid in varargs -%}{% if cid %}{% if pfx %}{{ pfx }}_{% endif %}{{ cid }} {% endif %}{% endfor %}{{ pfx }}
{%- endmacro -%}


{%- macro add_banner(title, note='') %}
<td class="titlebar">
{{ title }}
{%- if note %}<br><span style="font-size: smaller;">{{ note }}</span>{% endif %}
</td>
{%- endmacro %}


{%- macro plural(thing) %}{% if thing|length != 1 %}s{% endif %}{% endmacro %}
