{%- import "config.html" as config -%}


{%- macro format_warning(message) %}
<div class="warning">{% for word in message %}{{ word }} {% endfor %}</div>
{%- endmacro %}


{%- macro format_image_art(fname, desc, also) -%}
{%- if fname -%}<img src="../{{ config.IMG_DIR_ART }}/{{ fname }}.gif" alt="{{ desc }}"{{ fmt_also(also) }}>{%- endif -%}
{%- endmacro -%}


{%- macro format_image_optional(fname, desc, pdir, prefix='', suffix='.jpg', also='') -%}
{%- if fname -%}<img src="../{{ pdir }}/{{ prefix }}{{ fname|lower }}{{ suffix }}"{% if desc %} alt="{{ desc }}"{% endif %}{{ fmt_also(also) }}>{%- endif -%}
{%- endmacro -%}


{%- macro fmt_anchor(fname, desc, hspace, also) %}{% if fname %}<i id="{{ fname }}"></i>
{%- endif %}{% endmacro %}


{%- macro format_button(bname, link='') -%}
{% if link -%}
<a href="{{ link }}" class="textbutton">{{ find_button_label(bname) }}</a>
{%- else -%}
<div class="textbutton">{{ find_button_label(bname) }}</div>
{%- endif -%}
{%- endmacro -%}


{%- macro format_button_input(bname="submit", also='') -%}
<button type="submit" name="{{ find_button_name(bname) }}" value="1" class="textbutton">{{ find_button_label(bname) }}</button>
{%- endmacro -%}


{%- macro format_button_reset(form_id, also='') -%}
<div onClick="ResetForm(document.{{ form_id }})" class="textbutton">RESET</div>
{%- endmacro %}


{%- macro fmt_also(also) -%}
{%- if also -%}{%- for tag in also %} {{ tag }}="{{ also[tag] }}"{%- endfor -%}{%- endif -%}
{%- endmacro -%}


{%- macro find_button_name(name) -%}
{{ name|replace(' ', '_')|lower }}
{%- endmacro %}


{%- macro find_button_label(name) -%}
{{ name|replace('_', ' ')|upper }}
{%- endmacro %}


{%- macro class_id(pfx) -%}
{%- for cid in varargs -%}{% if cid %}{% if pfx %}{{ pfx }}_{% endif %}{{ cid }} {% endif %}{% endfor %}{{ pfx }}
{%- endmacro -%}


{%- macro add_banner(title, note='') %}
<td class="titlebar">
{{ title }}
{%- if note %}<br><span class="titlenote">{{ note }}</span>{% endif %}
</td>
{%- endmacro %}


{%- macro plural(thing) %}{% if thing|length != 1 %}s{% endif %}{% endmacro %}
