{%- extends "framed.html" %}
{%- import "showix.html" as showix -%}

{%- block page_header_extra -%}
{% if group %}
<style>
.mainpanel {background-image: url("/{{ group }}");}
</style>
{% endif %}
{%- endblock page_header_extra -%}

{%- macro show_boxes() %}
{# showix.format_matrix(boxes_lineup, simple_formatter) #}
{%- endmacro %}

{%- macro show_adds() %}
{% for shadd in adds %}
<h3>{{ shadd.title }}</h3>
<table><tr>
{% for ent in shadd.entry %}
<td><center>
{{ ent.img }}
{% if ent.credit %}<div class="credit"> {{ ent.credit }} </div>{% else %}<br>{% endif %}
{{ ent.desc }}</center>
</td>
{% if not (loop.index % shadd.columns) and not loop.last %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endfor %}
{%- endmacro %}

{%- macro show_model_links(sz='inset_m') %}
<div class="inset {{ sz }} infopanel">
<h3>Model-Related Links</h3>
<p>
<h4>Casting Type</h4>
<center>{{ man_cat }}</center>
<p>
<h4>{{ model.vars }} Variation{% if model.vars != 1 %}s{% endif %}</h4>
<center>
<a href="vars.cgi?mod={{ model.id }}">Grid</a> &#x2666;
<a href="vars.cgi?lrg=1&mod={{ model.id }}">List</a> &#x2666;
<a href="vars.cgi?csv=1&mod={{ model.id }}">CSV</a> &#x2666;
<a href="vars.cgi?jsn=1&mod={{ model.id }}">JSON</a> &#x2666;
<a href="vsearch.cgi?ask=1&id={{ model.id }}">Search</a><br>
<a href="upload.cgi?m={{ model.id }}&y={{ product_pic }}">Upload a Picture</a>
</center>
<p>
{% for compare in compares %}
<h4>{{ compare }}</h4>
{% endfor %}

{%- if plants.shown -%}{{ show_plants() }}{%- endif -%}

{%- if appearances %}<center><b>Annual Lineups</b><p>{{ showix.format_listix(appearances) }}</center><p>{%- endif %}

{%- if matrixes %}
<center><b>Series Appearances</b></center><p>
<ul>
{%- for appear in matrixes %}
<li>{{ appear }}
{%- endfor %}
</ul><p>
{%- endif %}

{%- if packs %}
<center><b>Multi-Pack Appearances</b></center><p><ul>
{%- for appear in packs %}
<li>{{ appear }}
{%- endfor %}
</ul><p>
{%- endif %}

{%- if code2s %}
<center><b>Code 2 Appearances</b></center><p><ul>
{%- for appear in code2s %}
<li>{{ appear }}
{%- endfor %}
</ul><p>
{%- endif %}

{#- for make in model.makes -%}
{%- if make.id and make.id != 'unl' %}
<center><a href="{{ make.link }}">See more <b>{{ make.name }}</b> vehicles</a></center>{% if loop.last %}<p>{% endif %}
{%- endif %}
{%- endfor -#}

{%- if show_comparison %}
<center><a href="compare.cgi#{{ model.id }}">See <b>casting comparison</b> page</a></center><p>
{%- endif %}

{%- if external_links %}
<center><b>External Pages</b></center><p><ul>
{%- for link in external_links %}
<li>{{ link }}
{%- endfor %}
</ul><p>
{%- endif %}
</div>
{%- endmacro %}

{%- macro simple_formatter(content) %}
{{ content.text }}
{%- endmacro %}

{%- macro show_model_info() %}
<center><span class="modelnumber">{{ model.id }}</span><br>
<table><tr><td>
{{ model.img }}<br>
<div class="credit">{% if model.credit %} {{ model.credit }} {% else %}&nbsp;{% endif %}</div>
</td></tr></table>
<div class="name_line"> <span class="info_name">{{ model.name }}</span></div>
{%- for s in model.descs %}<br>{{ s }}{% endfor %}<p>
<table class="modelinfo infopanel inset"><tr>
{%- if model.makes %}<th>Make</th>{% endif %}
{%- if model.scale %}<th>Scale</th>{% endif %}
{%- if model.country %}<th>Country</th>{% endif %}
{%- if model.first_year %}<th>{% if model.revised %}Revised{% else %}Introduced{% endif %}</th>{% endif %}
{%- if mack_nums %}<th>Mack Number{{ render.plural(mack_nums) }}</th>{% endif %}
</tr>
<tr>
{%- if model.makes %}<td valign="top"><center>
{% for make in model.makes %}
<a href="{{ make.link }}">{% if make.image %}{{ make.image }}<br>{% endif %}{{ make.name }}</a><br>
{% endfor %}
</center></td>{% endif %}
{%- if model.scale %}<td valign="top"><center>{{ model.scale }}</center></td>{% endif %}
{%- if model.country %}
<td valign="top"><center>{{ model.country_flag }}<br>
{{ model.country_name }}
</center></td>
{%- endif %}
{%- if model.first_year %}<td valign="top"><center>{{ model.first_year }}</center></td>{% endif %}
{%- if mack_nums %}<td valign="top"><center>{{ showix.format_brlist(mack_nums) }}</center></td>{% endif %}
</tr>
{% if base_names %}
<tr><th colspan="{{ info_cols }}">Base Name{{ render.plural(base_names) }}</th></tr>
<tr><td colspan="{{ info_cols }}">
{% for base_name in base_names %}
{{ base_name.base_name }}<br>
{% endfor %}
</td></tr>
{% endif %}
{% if revised %}
<tr><td colspan="{{ info_cols }}">
<img src="/pic/gfx/revcasting.gif">
</td></tr>
{% endif %}
{% if model.notes %}
<tr><th colspan="{{ info_cols }}">Notes</th></tr>
<tr><td colspan="{{ info_cols }}">
{{ model.notes }}
</td></tr>
{% endif %}
</table></center>

{%- endmacro %}

{%- macro show_plants() %}
<p>
<center>
<h4>Variations by Manufacturing Location</h4><p>
{#<table class="modelinfo">
<tr>
{%- for plant in plants -%}
<td>{{ plant.flag }}</td>
{%- endfor %}
</tr>
<tr>
{%- for plant in plants -%}
<td>{{ plant.count }}</td>
{%- endfor %}
</tr>
<tr>
</table>#}
{{ showix.format_listix(plants) }}
</center><p>
{%- endmacro %}

{%- macro show_relateds() %}
{%- if relateds %}
<div class="inset inset_m infopanel">
<center><h3>Related Models</h3>
{%- for related in relateds %}
<span class="modelnumber">{{ related.id }}</span><br>
{{ related.img }}<br>
<b>{{ related.name }}</b>
{%- for s in related.descs %}
<br><i>{{ s }}</i>
{%- endfor %}
{%- if not loop.last %}<p>{% endif %}
{%- endfor %}
</center>
{%- endif %}
</div>
{%- endmacro %}

{%- macro show_product_box() %}
{%- if product_image or prod_title or variations %}
<div class="inset inset_m infopanel">
{%- if product_image %}<center>{{ product_image }}
<div class="credit">{% if product_img_credit %} {{ product_img_credit }} {% else %}&nbsp;{% endif %}</div>
</center>{% endif %}
{%- if prod_title %}
<h4 class="prodtitle">{{ prod_title }}</h4>
{%- endif %}
{%- if variations %}
<p>
<h3>Variations for This Product</h3>
<center><!-- variations {{ variations }} -->
<table class="vartable">
{%- for varset in variations %}
<tr><td>
{%- for var in varset[0] %}
<a href="vars.cgi?mod={{ model.id }}&var={{ var }}">{{ var }}</a>{% if not loop.last %},{% endif %}
{%- endfor %}
</td></tr>
<tr><td><img src="../{{ varset[1] }}"></td></tr>
<tr><td class="varentry">{{ varset[2] }}</td></tr>
{%- endfor %}
</table></center>
{%- endif %}
</div>
<p>
{%- endif %}
{%- endmacro %}

{%- block frame_body_panel %}
<center>
<table class="mainpanel"><tr>

{%- if (prod_title or variations or relateds) %}
{%- if product_image %}

<!-- LAYOUT STYLE 1 -->
    {#- top left box #}
    <td valign="top" class="panel_1">
    {{ show_product_box() }}

    {#- lower left box #}
    {{ show_relateds() }}
    </td>

    {#- top right box #}
    <td valign="top" class="panel_1">
    {{ show_model_info() }}

    {#- lower right box #}

    <p>
    {{ show_model_links() }}
    </td>

{%- else %}

<!-- LAYOUT STYLE 2 -->
    {#- top left box (missing) #}

    {#- top right box #}
    <td valign="top" colspan="2">
    {{ show_model_info() }}
    </td>

    </tr>

    {#- lower left box #}
    <tr>
    <td width="400" valign="top" class="panel_1">
    {{ show_product_box() }}
    {{ show_relateds() }}
    </td>

    {#- lower right box #}

    <td valign="top" class="panel_1">
    {{ show_model_links() }}
    </td>
{%- endif %}
{%- elif product_image %}

<!-- LAYOUT STYLE 3 -->
    {#- top left box #}
    <td valign="top" class="panel_1">
    {{ show_product_box() }}
    </td>

    {#- top right box #}
    <td valign="top" class="panel_1">
    {{ show_model_info() }}
    </td></tr>

    {#- lower center box #}

    <tr><td colspan="2">
    {{ show_model_links('inset_l') }}
    </td>

{%- else %}

<!-- LAYOUT STYLE 4 -->
    {#- top left box (missing) #}

    {#- top right box #}
    <td valign="top" class="panel_2">
    {{ show_model_info() }}

    {#- lower left box (missing) #}

    {#- lower right box #}
    <p>
    {{ show_model_links('inset_l') }}
    </td>
{%- endif %}

</tr></table>
</center>
</td></tr>

{#- bottom #}
<tr><td>
<center>
{{ show_boxes() }}

{{ show_adds() }}
</center>

{%- endblock frame_body_panel %}
