{%- extends "framed.html" %}
{%- import "showix.html" as showix -%}

{%- macro show_boxes() %}
{{ showix.format_matrix(boxes_lineup, simple_formatter) }}
{%- endmacro %}

{%- macro show_adds() %}
{{ adds_box }}
{%- endmacro %}

{%- macro show_model_links(sz='inset_m') %}
<div class="inset {{ sz }}">
<center><h3>Model-Related Links</h3></center>

<center><b>
<a href="vars.cgi?mod={{ model.id }}">Variations ({{ model.vars }})</a>
<br><a href="upload.cgi?m={{ model.id }}&y={{ product_pic }}">Upload a Picture</a>
{% for compare in compares %}
<br>{{ compare }}
{% endfor %}
</b></center>
<p>

{%- if baseplates %}{#- not currently implemented #}
<center><h3>Base Plate Name{{ render.plural(baseplates) }}</h3>
{{ showix.format_brlist(baseplates) }}
</center><p>
{%- endif %}

{%- if appearances %}
{{ showix.format_matrix(appearances, simple_formatter) }}
<p>
{%- endif %}

{%- if matrixes %}
<center><b>Series Appearances</b></center><p>
<ul>
{%- for appear in matrixes %}
<li>{{ appear }}
{%- endfor %}
</ul><p>
{%- endif %}

{%- if packs %}
<center><b>Multi-Pack Appearances</b></center><p><ul>
{%- for appear in packs %}
<li>{{ appear }}
{%- endfor %}
</ul><p>
{%- endif %}

{%- if code2s %}
<center><b>Code 2 Appearances</b></center><p><ul>
{%- for appear in code2s %}
<li>{{ appear }}
{%- endfor %}
</ul><p>
{%- endif %}

{#- for make in model.makes -%}
{%- if make.id and make.id != 'unl' %}
<center><a href="{{ make.link }}">See more <b>{{ make.name }}</b> vehicles</a></center>{% if loop.last %}<p>{% endif %}
{%- endif %}
{%- endfor -#}

{%- if show_comparison %}
<center><a href="compare.cgi#{{ model.id }}">See <b>casting comparison</b> page</a></center><p>
{%- endif %}

{%- if external_links %}
<center><b>External Pages</b></center><p><ul>
{%- for link in external_links %}
<li>{{ link }}
{%- endfor %}
</ul><p>
{%- endif %}
</div>
{%- endmacro %}

{%- macro simple_formatter(content) %}
{{ content.text }}
{%- endmacro %}

{%- macro show_model_info() %}
<center><span class="modelnumber">{{ model.id }}</span><br>
<table><tr><td>
{{ model.img }}<br>
{% if model.credit %}<div class="credit">Photo credit: {{ model.credit }}</div>{% endif %}
</td></tr></table>
<span class="info_name">{{ model.name }}</span>
{%- for s in model.descs %}<br>{{ s }}{% endfor %}
<table class="modelinfo"><tr>
{%- if model.makes %}<th>Make</th>{% endif %}
{%- if model.scale %}<th>Scale</th>{% endif %}
{%- if model.country %}<th>Country</th>{% endif %}
{%- if model.first_year %}<th>Introduced</th>{% endif %}
{%- if mack_nums %}<th>Mack Number{{ render.plural(mack_nums) }}</th>{% endif %}
</tr>
<tr>
{%- if model.makes %}<td valign="top"><center>
{% for make in model.makes %}
<a href="{{ make.link }}">{% if make.image %}{{ make.image }}<br>{% endif %}{{ make.name }}</a><br>
{% endfor %}
</center></td>{% endif %}
{%- if model.scale %}<td valign="top"><center>{{ model.scale }}</center></td>{% endif %}
{%- if model.country %}
<td valign="top"><center>{{ model.country_flag }}<br>
{{ model.country_name }}
</center></td>
{%- endif %}
{%- if model.first_year %}<td valign="top"><center>{{ model.first_year }}</center></td>{% endif %}
{%- if mack_nums %}<td valign="top"><center>{{ showix.format_brlist(mack_nums) }}</center></td>{% endif %}
</tr></table></center>
{%- endmacro %}

{%- macro show_relateds() %}
{%- if relateds %}
<p>
<center><h3>Related Models</h3>
{%- for related in relateds %}
<span class="modelnumber">{{ related.id }}</span><br>
{{ related.img }}<br>
<b>{{ related.name }}</b>
{%- for s in related.descs %}
<br><i>{{ s }}</i>
{%- endfor %}
{%- if not loop.last %}<p>{% endif %}
{%- endfor %}
</center>
{%- endif %}
{%- endmacro %}

{%- macro show_product_box() %}
{%- if product_image or prod_title or variations %}
<div class="inset inset_m">
{%- if product_image %}<center>{{ product_image }}
{% if product_img_credit %}<div class="credit">Photo credit: {{ product_img_credit }}</div>{% endif %}
</center><p>{% endif %}
{%- if prod_title %}
<center>{{ prod_title }}</center>
{%- endif %}
{%- if variations %}
<center><h3>Variations for This Product</h3>
<!-- variations {{ variations }} -->
<table class="vartable">
{%- for varset in variations %}
<tr><td>
{%- for var in varset[0] %}
<a href="vars.cgi?mod={{ model.id }}&var={{ var }}">{{ var }}</a>{% if not loop.last %},{% endif %}
{%- endfor %}
</td></tr>
<tr><td><img src="../{{ varset[1] }}"></td></tr>
<tr><td class="varentry">{{ varset[2] }}</td></tr>
{%- endfor %}
</table></center>
{%- endif %}
</div>
{%- endif %}
{%- endmacro %}

{%- macro show_model_notes() %}
{%- if model.notes %}
<center><div class="notes">{{ model.notes }}</div></center>
{%- else %}
<!-- no notes -->
{%- endif %}
{%- endmacro %}

{%- block frame_body_panel %}
<center>
<table cellspacing="8"><tr>

{%- if (prod_title or variations or relateds) %}
{%- if product_image %}
    {#- top left box #}
    <td valign="top" class="panel_1">
    {{ show_product_box() }}

    {#- lower left box #}
    {{ show_relateds() }}
    </td>

    {#- top right box #}
    <td valign="top" class="panel_1">
    {{ show_model_info() }}
    {{ show_model_notes() }}

    {#- lower right box #}

    <p>
    {{ show_model_links() }}
    </td>

{%- else %}

    {#- top left box (missing) #}

    {#- top right box #}
    <td valign="top" colspan="2">
    {{ show_model_info() }}
    {{ show_model_notes() }}
    </td>

    </tr>

    {#- lower left box #}
    <tr>
    <td width="400" valign="top" class="panel_1">
    {{ show_product_box() }}
    {{ show_relateds() }}
    </td>

    {#- lower right box #}

    <td valign="top" class="panel_1">
    {{ show_model_links() }}
    </td>
{%- endif %}
{%- elif product_image %}

    {#- top left box #}
    <td valign="top" class="panel_1">
    {{ show_product_box() }}
    </td>

    {#- top right box #}
    <td valign="top" class="panel_1">
    {{ show_model_info() }}
    {{ show_model_notes() }}
    </td></tr>

    {#- lower center box #}

    <tr><td colspan="2">
    {{ show_model_links('inset_l') }}
    </td>

{%- else %}

    {#- top left box (missing) #}

    {#- top right box #}
    <td valign="top" class="panel_2">
    {{ show_model_info() }}
    {{ show_model_notes() }}

    {#- lower left box (missing) #}

    {#- lower right box #}
    <p>
    {{ show_model_links('inset_l') }}
    </td>
{%- endif %}

</tr></table>
</center>
</td></tr>

{#- bottom #}
<tr><td>
<center>
{{ show_boxes() }}

{{ show_adds() }}
</center>

{%- endblock frame_body_panel %}
