{% extends "base.html" %}
{% block page_body %}

<table width="100%"><tr><td width="65%" valign="top">
<ul>
{% for sec in sections %}
<li><a href="edlinks.cgi?sec={{ sec['section.id'] }}">{{ sec['section.page_id'] }}: {{ sec['section.name'] }}</a>
{% endfor %}
</ul>
</td>
<td width="35%" valign="top">
<ul>
<li><a href="edlinks.cgi?sec=new">New</a>
<li><a href="edlinks.cgi?sec=nonf">Nonfunctional</a>
<li><a href="edlinks.cgi?page_id=makes">Makes</a>
<li><a href="edlinks.cgi?sec=single">Single</a>
<li><a href="edlinks.cgi?as=1">Associables</a><p>
<li><a href="{{ blacklist }}">Blacklist</a><p>
<h3>Good</h3>
{% for stat in link_statuses %}
<li><a href="edlinks.cgi?good=1&stat={{ stat.0 }}">{{ stat.0 }}</a> {{ reasons[stat.0] }} {{ stat.1 }}
{% endfor %}
<h3>Bad</h3>
{% for stat in link_rejects %}
<li><a href="edlinks.cgi?good=0&stat={{ stat.0 }}">{{ stat.0 }}</a> {{ reasons[stat.0] }} {{ stat.1 }}
{% endfor %}
</ul>
</td></tr></table>

{% endblock page_body %}
