{%- extends "base.html" -%}

{% macro end_of_page(comment=False) %}
<hr>
<center>This page is maintained by <em>Dean Dierschow</em>.<br>
<nobr><i class="fas fa-star"></i> Dean's Recommendations</nobr>
<span class="blue">&#x25cf;</span>
<nobr><i class="fas fa-sync"></i> Reciprocal Link</nobr>
{% if comment %}
<span class="blue">&#x25cf;</span>
<nobr><i class="far fa-comment"></i> Comment on this link</nobr>
{% endif %}
</center>
{{ flags }}
{% endmacro %}

{% macro showbullet(linktype) %}
{% if linktype == 'b' %}<i class="fas fa-exclamation-triangle red"></i>
{% elif linktype == 'f' %}<i class="fas fa-folder"></i>
{% elif linktype == 'g' %}
{% elif linktype == 'l' %}<span class="blue">&#x25cf;</span>
{% elif linktype == 'n' %}&nbsp;
{% elif linktype == 'p' %}
{% elif linktype == 's' %}<i class="fas fa-star"></i>
{% elif linktype == 't' %}
{% elif linktype == 'x' %}&#x1F5D1;</i>
{% endif %}
{% endmacro %}

{% macro showlink(ent) %}
<div class="link{% if ent.indent %}-indent{% endif %}">
{% if ent.linktype %}{{ showbullet(ent.linktype) }}{% endif %}
{{ ent.text }}
{% if ent.large %}
</div>
<div class="link-desc">
{% endif %}
{{ ent.desc|join('<br>') }}
{% if ent.comment %}<a href="?id={{ ent.id}}"> <i class="far fa-comment ltgray"></i></a>{% endif %}
</div>
{% endmacro %}

{%- block page_body -%}

<div class="linkspage">
{{ llineup.name }}
{% if sections|length > 1 %}
<div class="maintable"><center><ul class="header-links">
{% for sec in sections %}
 <li class="header-link-item"><a href="#{{ sec.id }}" class="textbutton">&nbsp;{{ sec.name }}&nbsp;</a></li>
{% endfor %}
</ul></center></div>
{% endif %}
{% for sec in llineup.section %}
{{ render.fmt_anchor(sec.anchor) }}
{% if sec.name %}<h3>{{ sec.name }}</h3><p>{% endif %}
{% if sec.note %}{{ sec.note }}<br>{% endif %}
{% for ran in sec.range %}
{{ render.fmt_anchor(ran.anchor) }}
{% if ran.name or ran.graphics %}{{ ran.name }}<br>{% endif %}
{% if ran.note %}{{ ran.note }}<br>{% endif %}
{% for ent in ran.entry %}
{{ showlink(ent) }}
{% endfor %}
{% endfor %}
{% endfor %}
</div>

{{ end_of_page() }}

{%- endblock page_body -%}
