{%- extends "base.html" -%}

{% macro end_of_page(comment=False) %}
<hr>
<center>This page is maintained by <em>Dean Dierschow</em>.<br>
<nobr>{{ render.format_image_art('star', desc='*') }} Dean's Recommendations</nobr>
{{ render.format_image_art('ball', desc='o') }}
<nobr>{{ render.format_image_art('recip') }} Reciprocal Link</nobr>
{% if comment %}
{{ render.format_image_art('ball', desc='o') }}
<nobr>{{ render.format_image_art('comment') }} Comment on this link</nobr>
{% endif %}
</center>
{{ flags }}
{% endmacro %}

{% macro showlink(ent) %}
<div class="link{% if ent.indent %}-indent{% endif %}">
{% if ent.comment %}<a href="?id={{ ent.id}}">{{ render.format_image_art('comment') }}</a>{% endif %}
{% if ent.linktype %}{{ render.format_image_art(ent.linktype, also={'class': 'bullet'}) }}{% endif %}
{{ ent.text }}
{% if ent.large %}
</div>
<div class="link-desc">
{% endif %}
{{ ent.desc|join('<br>') }}
</div>
{% endmacro %}

{%- block page_body -%}

{{ llineup.name }}
{% for sec in llineup.section %}
{{ render.fmt_anchor(sec.anchor) }}
{% if sec.name %}<h3>{{ sec.name }}</h3><p>{% endif %}
{% if sec.note %}{{ sec.note }}<br>{% endif %}
{% for ran in sec.range %}
{{ render.fmt_anchor(ran.anchor) }}
{% if ran.name or ran.graphics %}{{ ran.name }}<br>{% endif %}
{% if ran.note %}{{ ran.note }}<br>{% endif %}
{% for ent in ran.entry %}
{{ showlink(ent) }}
{% endfor %}
{% endfor %}
{% endfor %}

{{ end_of_page() }}

{%- endblock page_body -%}
