{% extends "framed.html" %}
{%- import "showix.html" as showix -%}

{%- block frame_body_panel %}

<center>
<table><tr><td>
{{ image }}<br>
{% if credit %}<div class="credit">{{ credit }}</div>{% endif %}
</td></tr></table>
<p>

<table class="vartablev">
<tr><td class="varentry"><i>{{ description }}</i></td></tr>
</table>
<p>

{{ show_var_info() }}
<p>
</center>

<center>
<table><tr><td class="toppy" style="width: 420px;">
<center>
{{ showix.format_listix(desc) }}
</center>
<p>
{{ show_appearances() }}
</td><td class="toppy" style="width: 420px;">
<center>
{{ showix.format_listix(details) }}
</center>
<p>
<div class="inset infopanel" style="margin: 0 10px 0 10px;">
<p><center><b><a href="{{ upload }}">Upload a Picture</a></b></center><p>
</div>
</td></tr></table>
</center>

<p>
<center>
{{ adds }}
</center>

{%- endblock frame_body_panel %}

{%- block frame_footer %}
{{ footer }}
{%- endblock frame_footer %}

{%- macro show_var_info() %}
<table class="modelinfo infopanel inset"><tr>
<th>Casting</th>
{%- if variation.makes %}<th>Make</th>{% endif %}
{%- if variation.area %}<th>Area</th>{% endif %}
{%- if variation.date %}<th>Date</th>{% endif %}
{%- if variation.manufacture %}<th>Plant</th>{% endif %}
</tr>
<tr><td valign="top"><center>{{ casting }}</center></td>
{%- if variation.makes %}<td valign="top"><center>
{% for make in variation.makes %}
<a href="{{ make.link }}">{% if make.image %}{{ make.image }}<br>{% endif %}{{ make.name }}</a><br>
{% endfor %}
</center></td>{% endif %}
{%- if variation.area %}<td valign="top"><center>{{ variation.area }}</center></td>{% endif %}
{%- if variation.date %}<td valign="top"><center>{{ variation.date }}</center></td>{% endif %}
{%- if variation.manufacture %}
<td valign="top"><center>{{ manufacture_flag }}<br>
{{ variation.manufacture }}
</center></td>
{%- endif %}
</tr>
{% if categories %}
<tr><th colspan="{{ info_cols }}">{% if categories|length > 1 %}Categories{% else %}Category{% endif %}</th></tr>
<tr><td colspan="{{ info_cols }}">
{% for category in categories -%}
{{ category }}<br>
{% endfor -%}
</td></tr>
{% endif %}
{% if variation.note %}
<tr><th colspan="{{ info_cols }}">Note</th></tr>
<tr><td colspan="{{ info_cols }}">
{{ variation.note }}<br>
</td></tr>
{% endif %}
{% if base_logos %}
<tr><th colspan="{{ info_cols }}">Base Logo{% if base_logos|length > 1 %}s{% endif %}</th></tr>
<tr><td colspan="{{ info_cols }}">
{% for logo in base_logos %}
{{ logo }}{% if not loop.last %} {% endif %}
{% endfor %}
</td></tr>
{% endif %}
</table>

{%- endmacro %}

{% macro show_appearances() %}
{% if appearances -%}
<div class="inset infopanel" style="margin: 0 10px 0 10px;">
<p>
<center><b>Appearances</b></center>
<ul>
{%- for appearance in appearances %}
<li>{{ appearance }}
{%- endfor %}
</ul>
<p>
</div>

{% endif -%}
{% endmacro %}

{%- macro show_adds() %}
{% for shadd in adds %}
<h3>{{ shadd.title }}</h3>
<table><tr>
{% for ent in shadd.entry %}
<td><center>
{{ ent.img }}
{% if ent.credit %}<div class="credit"> {{ ent.credit }} </div>{% else %}<br>{% endif %}
{{ ent.desc }}</center>
</td>
{% if not (loop.index % shadd.columns) and not loop.last %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endfor %}
{%- endmacro %}
