{%- extends "base.html" -%}
{%- import "showix.html" as showix -%}

{%- macro man_entry(entry) -%}
{% if entry.var -%}
<a href="{{ entry.link }}">{{ entry.var|upper }}<br>
<center><table><tr><td class="spicture">{{ entry._picture }}</td></tr></table></center></a>
<table class="vartable">
<tr><td class="varentry"><i>{{ entry.text_description }}</i></td></tr>
</table>
{{ entry.categories }}
{%- else -%}
&nbsp;
{%- endif %}
{%- endmacro -%}

{%- block page_body -%}

<table width=100%><tr><td class="title">{{ page.title }}</td></tr></table><p>
<center>
{{ image }}
</center><br>
{{ search_object }}

<form action="vars.cgi" name="vars" method="post">
{% if verbose %}<input type="hidden" name="verbose" value="1">{% endif %}

{% if show_as_list %}{{ showix.format_listix(llineup) }}{% else %}{{ showix.format_matrix(llineup, man_entry) }}{% endif %}

<p style="font-weight: bold; font-size: large;">
{{ var_search_visible }}
Search Variations</p>
<div id="varsearch"><input type="hidden" name="page" value="{{ page.page_id }}">
<input type="hidden" name="mod" value="{{ mod_id }}">

{{ showix.format_listix(var_search_form) }}
</div><hr>
{{ footer }}

{%- endblock page_body -%}
